body,
html {
    height: 100%;
}

.navbar .nav-link {
    padding: 0.5rem 0.8rem;
    font-size: 0.875rem;
}

tr th:first-child,
tr td:first-child {
    padding-left: 0;
}

tr th:last-child,
tr td:last-child {
    padding-right: 0;
}
