<template id="render_template">
    <tr>
        <td>{{ asset.symbol }}</td>
        <td class="text-right">
            <span v-if="typeof(asset.decimals) == 'bigint'">
                {{ asset.balance.print(asset.decimals, 2) }}
            </span>
        </td>
        <td class="text-right">
            <span v-if="asset.rate && app.ethRate && !asset.hide_value">
                ${{ (asset.balance * app.ethRate / asset.rate).print(6, 2) }}
            </span>
        </td>
        <td class="text-right">
            <div class="btn-group" role="group" aria-label="Action">
                <button type="button" class="btn btn-sm btn-primary ml-3">Swap</button>
                <button class="btn btn-primary dropdown dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Send</a>
                    </div>
                </button>
            </div>
        </td>
    </tr>
</template>
<script>
    Vue.component('univ2-handler', {
        props: ['asset', 'app'],
        data: function () {
            return {
            }
        },
        template: $("#render_template").html()
    })

    $("#render_template").remove();
</script>