<template id="component_template">
    <div>
        <h4><i class="fas fa-wallet"></i> Wallet <span class="float-right">${{ total.print(6, 2) }}</span></h4>
        <table class="table table-hover w-100 mb-0">
            <thead>
                <tr>
                    <th v-if="manager.chainId=='0x1'" colspan=2>Assets</th>
                    <th v-else="">Assets</th>
                    <th class="text-right d-none d-sm-table-cell">Balance</th>
                    <th class="text-right">Value</th>
                </tr>
            </thead>
            <template v-for="asset in assetsOrdered" v-if="asset.balance > 0n && !asset.hide">
                <tr style="cursor: pointer;" data-toggle="collapse" :data-target="'.erc20' + asset.address">
                    <td v-if="manager.chainId=='0x1'" class="py-2 px-0" style="width: 28px"><img class="rounded"
                            :src="logo_url(asset)" style="width: 28px; height: 28px;">
                    </td>
                    <td>{{ asset.symbol }}</td>
                    <td class="text-right d-none d-sm-table-cell">
                        <span v-if="typeof(asset.decimals) == 'bigint'">
                            {{ asset.balance.print(asset.decimals, 2) }}
                        </span>
                    </td>
                    <td class="text-right">
                        <span v-if="asset.rate && app.ethRate && !asset.hide_value">
                            ${{ (asset.balance * app.ethRate / asset.rate).print(6, 2) }}
                            <span class="d-inline d-sm-none"><br><small
                                    v-if="typeof(asset.decimals) == 'bigint'">{{ asset.balance.print(asset.decimals, 2) }}</small></span>
                        </span>
                    </td>
                </tr>
                <tr :class="'collapse erc20' + asset.address">
                    <td colspan="4">
                        <div :class="'erc20' + asset.address">
                            <button type="button" class="btn btn-sm btn-primary">Swap</button>
                        </div>
                    </td>
                </tr>
            </template>
        </table>
    </div>
</template>
<script>
    addComponent('erc20', {
        props: ["assets", "app", "manager"],
        computed: {
            assetsOrdered: function () {
                let withValue = this.assets.filter(a => a.rate && !a.hide_value).sort((a, b) => Number((b.balance * 1000000000000000000n / b.rate) - (a.balance * 1000000000000000000n / a.rate)));
                let noValue = this.assets.filter(a => !a.rate || a.hide_value);

                return withValue.concat(noValue);
            },
            total: function () {
                let total = 0n;
                for (i in this.assets) {
                    if (this.assets[i].rate && this.app.ethRate && !this.assets[i].hide_value)
                        total += (this.assets[i].balance * this.app.ethRate / this.assets[i].rate)
                }
                return total;
            }
        },
        methods: {
            logo_url: function (asset) {
                return 'https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/' + Web3.utils.toChecksumAddress(asset.address) + '/logo.png';
            }
        }
    });

    class ERC20Handler {
        constructor(assets) {
            this.assets = assets;
        }

        async init() { };

        async find(address, allAssets) {
            let balances = await this.assets.web3.dashboard.findBalances(address, allAssets.map(t => t.address)).call();
            for (var i in balances) {
                if (BigInt(balances[i].balance) > 0n) {
                    let asset = {};
                    if (this.assets._allAssetsMap[balances[i].token.toLowerCase()]) {
                        objAssign(asset, this.assets._allAssetsMap[balances[i].token.toLowerCase()]);
                    }
                    objAssign(asset, {
                        address: balances[i].token,
                        balance: BigInt(balances[i].balance),
                        view: 'erc20',
                        handler: this
                    });
                    this.assets.add(asset);
                }
            }
        }

        async info(assets) {
            assets = assets.filter(a => !a.name || !a.symbol || (typeof (a.decimals) != "bigint"));
            let infos = await this.assets.web3.dashboard.getTokenInfo(assets.map(t => t.address)).call();
            for (var i in infos) {
                objAssign(this.assets.get(infos[i].token), rpcToObj(infos[i]));
            }
        }

        async poll(address, assets) {
            console.log("Polling ERC20")
            let balances = await this.assets.web3.dashboard.getBalances(
                address, assets.map(t => t.address),
                "0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f",   // Uniswap (for now), should add to tokenlist.
                "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"    // Use WETH as currency for rate
            ).call();

            for (var i in balances) {
                let asset = this.assets.get(balances[i].token);
                objAssign(asset, rpcToObj(balances[i]));
                if (asset.address == "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2") {
                    asset.rate = 1000000000000000000n;
                }
            }
        }
    }
</script>