<template id="component_template">
    <div>
        <h3><i class="fas fa-wallet"></i> Wallet <span class="float-right">${{ total.print(6, 2) }}</span></h3>
        <table class="table table-hover w-100 mb-0">
            <thead>
                <tr>
                    <th v-if="manager.chainId=='0x1'" colspan=2>Assets</th>
                    <th v-else="">Assets</th>
                    <th class="text-right d-none d-sm-table-cell">Balance</th>
                    <th class="text-right d-none d-sm-table-cell">BentoBox</th>
                    <th></th>
                    <th class="text-right">Value</th>
                </tr>
            </thead>
            <template v-for="asset in assetsOrdered" v-if="(asset.balance.set || asset.bentoBalance > 0n) && !asset.hide">
                <tr style="cursor: pointer;" data-toggle="collapse" :data-target="'.erc20' + asset.address" @click="loadInfo(asset)">
                    <td v-if="manager.chainId=='0x1'" class="py-2 px-0" style="width: 28px"><img class="rounded"
                            :src="logo_url(asset)" style="width: 28px; height: 28px;" onerror="this.style.display='none'"/>
                    </td>
                    <td>{{ asset.symbol }}</td>
                    <td class="text-right d-none d-sm-table-cell">
                        <span v-if="asset.balance.set && typeof(asset.decimals) == 'bigint'">
                            {{ asset.balance.str }}
                        </span>
                    </td>
                    <td class="text-right d-none d-sm-table-cell">
                        <span v-if="asset.bentoBalance.set && typeof(asset.decimals) == 'bigint' && asset.bentoAmount">
                            {{ asset.bentoBalance.amount.str }}
                        </span>
                    </td>
                    <td>                                   
                        <span v-if="asset.bentoAllowance > 100000000000000000000000000000000000000000000000000000000000000000000000000000n || asset.address == '0x0000000000000000000000000000000000000000'">
                            <i style="color: green" class="fas fa-check"></i>
                        </span>
                        <span v-else-if="asset.bentoAllowance > 0n">
                            <i style="color: orange" class="fas fa-ruler"></i>
                        </span>
                        <span v-else-if="asset.bentoAllowance === 0n">
                            <i style="color: lightcoral" class="fas fa-circle"></i>
                        </span>
                    </td>
                    <td class="text-right">
                        <span v-if="asset.rate && app.ethRate && !asset.hide_value">
                            ${{ asset.usdValue.print(6, 2) }}
                            <span class="d-inline d-sm-none"><br><small
                                    v-if="typeof(asset.decimals) == 'bigint'">{{ asset.balance.str }}</small></span>
                        </span>
                    </td>
                </tr>
                <tr :class="'collapse erc20' + asset.address">
                    <td colspan="6">
                        <div :class="'erc20' + asset.address">
                            <h4>{{ asset.name }} ({{ asset.symbol }}) <a v-if="!asset.isNative" :href="'https://etherscan.io/token/' + asset.address" target="_blank"><i class="fas fa-external-link-alt"></i></a></h4>
                            <div v-if="asset.balance.set" class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Deposit to BentoBox</h5>
                                    <p>You have {{ asset.balance.str }} {{ asset.symbol }} outside the BentoBox.</p>
                                    <div class="input-group" style="max-width: 350px;">
                                        <input class="form-control" type="number" v-model="depositAmount">
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="cursor: pointer;" @click="depositAmount = asset.balance.number">Max</span>
                                        </div>
                                        <button v-if="asset.bentoAllowance < Decimal(depositAmount).toInt(asset.decimals)" type="button" class="btn btn-sm btn-primary ml-2" @click='approveAll(asset)'>Approve</button>
                                        <button v-else="" type="button" class="btn btn-sm btn-primary ml-2" @click='deposit(asset)' :disabled="!Number(depositAmount)">Deposit</button>
                                    </div>
                                </div>
                            </div>
                            <div v-if="asset.bentoBalance.set" class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Withdraw from BentoBox</h5>
                                    <p>You have {{ asset.bentoBalance.amount.str }} in the BentoBox.</p>
                                    <div class="input-group mb-3" style="max-width: 350px;">
                                        <input class="form-control" type="number" v-model="withdrawAmount">
                                        <div class="input-group-append">
                                            <span class="input-group-text" style="cursor: pointer;" @click="withdrawAmount = asset.bentoBalance.amount.number">Max</span>
                                        </div>
                                        <button type="button" class="btn btn-sm btn-primary ml-2" @click='withdraw(asset)' :disabled="!withdrawAmount">Withdraw</button>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-primary" @click='withdrawAll(asset)'>Withdraw All</button>
                                    <div v-if="asset.address == manager.wrappedNative" class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" v-model="withdrawAsWETH" id="withdrawAsWETH">
                                        <label class="form-check-label" for="withdrawAsWETH">
                                            Withdraw as WETH (default is ETH)
                                        </label>
                                    </div>                                                                
                                </div>
                            </div>
                            <div v-if="asset.address != '0x0000000000000000000000000000000000000000'" class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Approve to BentoBox</h5>
                                    <span v-if="asset.bentoAllowance > 100000000000000000000000000000000000000000000000000000000000000000000000000000n">
                                        <p><i style="color: green" class="fas fa-check"></i> You have approved all your {{ asset.symbol }} to the BentoBox.</p>
                                    </span>
                                    <span v-else-if="asset.bentoAllowance > 0n">
                                        <p><i style="color: orange" class="fas fa-ruler"></i> You have approved {{ asset.bentoAllowance.print(asset.decimals, 0) }} {{ asset.symbol }} to the BentoBox.</p>
                                    </span>
                                    <span v-else-if="asset.bentoAllowance === 0n">
                                        <p><i style="color: lightcoral" class="fas fa-circle"></i> You have not approved {{ asset.symbol }} to the BentoBox.</p>
                                    </span>

                                    <div class="input-group mb-3" style="max-width: 350px;">
                                        <input class="form-control" type="number" v-model="approveAmount">
                                        <button type="button" class="btn btn-sm btn-primary ml-2" @click='approve(asset, Decimal(approveAmount).toInt(asset.decimals))' :disabled="!approveAmount">Approve</button>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-primary" @click='approveAll(asset)'>Approve All</button>
                                    <button type="button" class="btn btn-sm btn-primary" @click='unapprove(asset)'>Unapprove</button>
                                </div>
                            </div>
                            <div v-if="asset.strategy || asset.pendingStrategy || address.toLowerCase() == app.bentoBoxOwner.toLowerCase()" class="card mb-3">
                                <div class="card-body">
                                    <h5>BentoBox</h5>
                                    <div v-if="asset.bentoAmount && asset.bentoShare" class="mb-3">
                                        Total BentoBox Amount: {{ asset.bentoAmount.print(asset.decimals, 0) }}<br>
                                        Total BentoBox Shares: {{ asset.bentoShare.print(asset.decimals, 0) }}<br>
                                    </div>

                                    <div v-if="asset.strategy">
                                        Active strategy: {{ asset.strategy }}<br>
                                        Current balance in strategy: {{ asset.strategyBalance.print(asset.decimals, 0) }}<br>
                                        Total BentoBox balance: {{ asset.bentoAmount.print(asset.decimals, 0) }}<br>
                                        <span v-if="asset.bentoAmount">Current percentage: {{ (asset.strategyBalance * 10000n / asset.bentoAmount).print(2, 0) }}%<br></span>
                                        Target percentage: {{ asset.targetPercentage.print(0, 0) }}%

                                        <div v-if="address.toLowerCase() == app.bentoBoxOwner.toLowerCase()" class="mt-3">
                                            <div class="input-group" style="max-width: 450px;">
                                                <input class="form-control" type="number" v-model="targetPercentage">
                                                <button type="button" class="btn btn-sm btn-primary ml-2" @click='setTargetPercentage(asset, targetPercentage)' :disabled="!targetPercentage">Set Target Percentage</button>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <button type="button" class="btn btn-sm btn-primary" @click='harvest(asset)'>Harvest</button>
                                            <button type="button" class="btn btn-sm btn-primary" @click='rebalance(asset)'>Rebalance</button>
                                        </div>
                                    </div>

                                    <div v-if="asset.strategyStartDate" class="mt-3">
                                        Pending strategy: {{ asset.pendingStrategy || "Remove strategy" }}<br>
                                        Can be actived {{ ago(time, Number(asset.strategyStartDate * 1000n)) }}
                                        <button v-if="time >= Number(asset.strategyStartDate * 1000n) && address.toLowerCase() == app.bentoBoxOwner.toLowerCase()" type="button" class="btn btn-sm btn-primary ml-2" @click='setStrategy(asset, asset.pendingStrategy)'>Activate</button>
                                    </div>

                                    <div v-if="address.toLowerCase() == app.bentoBoxOwner.toLowerCase()" class="input-group mt-3" style="max-width: 450px;">
                                        <input class="form-control" type="text" v-model="strategyAddress">
                                        <button type="button" class="btn btn-sm btn-primary ml-2" @click='setStrategy(asset, strategyAddress)' :disabled="!strategyAddress">Set Strategy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>
        </table>
    </div>
</template>
<script>
    addComponent('ERC20Handler', {
        props: ["assets", "app", "manager", "web3", "address", "time"],
        data: function () {
            return {
                depositAmount: 0,
                withdrawAmount: 0,
                approveAmount: 0,
                withdrawAsWETH: false,
                strategyAddress: "",
                targetPercentage: 0n
            };
        },        
        computed: {
            assetsOrdered: function () {
                if (!app.ethRate) { return [] };
                let assets = this.assets.map(a => {
                    a.usdValue = a.rate > 0n ? (a.bentoBalance.value + a.balance.value) * (app.ethRate || 0n) / a.rate : 0n
                    a.isNative = a.address == ETHEREUM_ADDRESS
                    return a;
                });
                let withValue = this.assets.filter(a => a.usdValue && !a.hide_value).sort((a, b) => Number(b.usdValue - a.usdValue));
                let noValue = this.assets.filter(a => !a.usdValue || a.hide_value);

                return withValue.concat(noValue)
            },
            total: function () {
                let total = 0n;
                for (i in this.assetsOrdered) {
                    if (this.assets[i].rate > 0n && this.app.ethRate > 0n && !this.assets[i].hide_value) {
                        total += ((this.assets[i].balance.value + this.assets[i].bentoBalance.amount.value) * this.app.ethRate / this.assets[i].rate)
                    }
                }
                return total;
            }
        },
        methods: {
            logo_url: function (asset) {
                return asset.address == ETHEREUM_ADDRESS 
                    ? 'https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/info/logo.png'
                    : 'https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/' + Web3.utils.toChecksumAddress(asset.address) + '/logo.png';
            },
            approve: async function (asset, amount) {
                await this.web3
                    .contract("erc20", asset.address)
                    .methods.approve(this.web3.bentobox.address, amount)
                    .send({ from: this.address });
            },
            approveAll: async function (asset) {
                await this.approve(asset, "115792089237316195423570985008687907853269984665640564039457584007913129639935")
            },
            unapprove: async function (asset) {
                await this.approve(asset, 0)
            },
            deposit: async function (asset) {
                const amount = Decimal(this.depositAmount).toInt(asset.decimals);
                this.web3.bentobox
                    .deposit(asset.address, this.address, this.address, amount, 0n)
                    .send({ from: this.address, value: Number(asset.address == ETHEREUM_ADDRESS ? amount : 0n) });
            },
            withdraw: async function (asset) {
                this.web3.bentobox
                    .withdraw(
                        asset.address == this.manager.wrappedNative && !this.withdrawAsWETH ? ETHEREUM_ADDRESS : asset.address, 
                        this.address, this.address, 
                        Decimal(this.withdrawAmount).toInt(asset.decimals), 0n)
                    .send({ from: this.address });
            },
            withdrawAll: async function (asset) {
                this.web3.bentobox
                    .withdraw(
                        asset.address == this.manager.wrappedNative && !this.withdrawAsWETH ? ETHEREUM_ADDRESS : asset.address, 
                        this.address, this.address, 0n, asset.bentoBalance.value)
                    .send({ from: this.address });
            },
            loadInfo: async function (asset) {
                const strategyData = rpcToObj(await this.web3.bentobox.strategyData(asset.address).call())
                const strategy = rpcToObj(await this.web3.bentobox.strategy(asset.address).call())
                const pendingStrategy = rpcToObj(await this.web3.bentobox.pendingStrategy(asset.address).call())
                objAssign(asset, {
                    strategy: strategy == '0x0000000000000000000000000000000000000000' ? "" : strategy,
                    pendingStrategy: pendingStrategy == '0x0000000000000000000000000000000000000000' ? "" : pendingStrategy,
                    strategyBalance: strategyData.balance,
                    strategyStartDate: strategyData.strategyStartDate,
                    targetPercentage: strategyData.targetPercentage
                })
                console.log("Info", asset, strategyData)
            },
            setStrategy: async function (asset, address) {
                this.web3.bentobox
                    .setStrategy(asset.address, address || '0x0000000000000000000000000000000000000000')
                    .send({ from: this.address })
            },
            setTargetPercentage: async function (asset, targetPercentage) {
                this.web3.bentobox
                    .setStrategyTargetPercentage(asset.address, targetPercentage)
                    .send({ from: this.address })
            },
            harvest: async function (asset) {
                this.web3.bentobox
                    .harvest(asset.address, false, 0)
                    .send({ from: this.address })
            },
            rebalance: async function (asset) {
                this.web3.bentobox
                    .harvest(asset.address, true, 0)
                    .send({ from: this.address })
            }
        }
    });

    class ERC20Handler {
        constructor(assets) {
            this.assets = assets;
        }

        async init() { };

        async find(address, allAssets) {
/*            let balances = await this.assets.web3.boringhelper.findBalances(address, allAssets.map(t => t.address)).call();
            for (var i in balances) {
                if (BigInt(balances[i].balance) > 0n) {
                    let asset = {};
                    if (this.assets._allAssetsMap[balances[i].token.toLowerCase()]) {
                        objAssign(asset, this.assets._allAssetsMap[balances[i].token.toLowerCase()]);
                    }
                    objAssign(asset, {
                        address: balances[i].token,
                        balance: BigInt(balances[i].balance),
                        view: 'erc20',
                        handler: this
                    });
                    this.assets.add(asset);
                }
            }*/
        }

        async info(assets) {
            /*assets = assets.filter(a => !a.name || !a.symbol || (typeof (a.decimals) != "bigint"));
            if (assets.length)
            {
                let infos = await this.assets.web3.boringhelper.getTokenInfo(assets.map(t => t.address)).call();
                for (var i in infos) {
                    objAssign(this.assets.get(infos[i].token), rpcToObj(infos[i]));
                }
            }*/
        }

        async poll(address, assets) {
            /*console.log("Polling ERC20")
            let balances = await this.assets.web3.boringhelper.getBalances(
                address, assets.map(t => t.address)
            ).call();
            console.log("ERC20 balances updated")

            for (var i in balances) {
                let asset = this.assets.get(balances[i].token);
                objAssign(asset, rpcToObj(balances[i]));
                if (asset.address == this.address.wrappedNative) {
                    asset.rate = 1000000000000000000n;
                }
            }*/
        }
    }
</script>