<template id="component_template">
    <div>
        <h3><i class="fas fa-cocktail"></i> SushiBar <span class="float-right">${{ total.print(6, 2) }}</span></h3>
        <table class="table w-100 mb-0">
            <tr v-for="asset in assets" v-if="asset.balance > 0n && !asset.hide">
                <td>xSUSHI</td>
                <td class="text-right">
                    <span v-if="asset.sushiStake">
                        {{ asset.balance.print(18, 2) }}<br>
                        <small>{{ asset.sushiStake.print(18, 2) }} SUSHI</small>
                    </span>
                </td>
                <td class="text-right">
                    <span v-if="asset.sushi.rate && app.ethRate">
                        ${{ (asset.sushiStake * app.ethRate / asset.sushi.rate).print(6, 2) }}
                    </span>
                </td>
                <td class="text-right">
                    <router-link class="btn btn-sm btn-primary ml-3" to="/sushibar">Go to Bar</router-link>
                </td>
            </tr>
        </table>
    </div>
</template>
<script>
    addComponent('xsushi', {
        props: ["assets", "app"],
        computed: {
            asset: function () {
                return this.assets.length ? this.assets[0] : {
                    balance: 0n
                }
            },
            total: function () {
                return this.assets[0].sushi.rate && this.app.ethRate ? this.assets[0].sushiStake * this.app.ethRate / this.assets[0].sushi.rate : 0n;
            }
        }
    });

    class XSushiHandler {
        constructor(assets) {
            this.assets = assets;
            this.xsushi = null;
        }

        async init() { };

        async find(address, allAssets) {
            let result = this.assets.assets.filter(a => a.address == "0x8798249c2e607446efb7ad49ec89dd1865ff4272");
            if (result.length) {
                this.xsushi = result[0];
                this.xsushi.hide = true;
                this.assets.add({
                    address: "xsushi",
                    balance: this.xsushi.balance,
                    sushi: this.assets.add({ address: "0x6b3595068778dd592e39a122f4f5a5cf09c90fe2" }),
                    sushiStake: 0n,
                    view: 'xsushi',
                    handler: this
                })
            }
        }

        async info(assets) {
        }

        async poll(address, assets) {
            if (this.xsushi) {
                assets[0].balance = this.xsushi.balance;
                this.barSushi = BigInt(await this.assets.web3.sushi.balanceOf(this.assets.web3.bar.address).call());
                this.totalXSushi = BigInt(await this.assets.web3.bar.totalSupply().call());

                assets[0].sushiStake = this.barSushi * BigInt(this.xsushi.balance) / this.totalXSushi;
            }
        }
    }
</script>