<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
        integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.11/dist/web3.min.js"></script>
    <script src="../sushiswap.js"></script>
    <style>
        body,
        html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("../img/bar.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div id="app" class="container-fluid bg">
        <h1 class="text-center">SushiBar</h1>
        <div class="text-center" v-if="!address">
            <button class="btn btn-primary" @click="connect">Connect!</button>
        </div>
        <div v-if="bar" style="min-height: 100%;">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">In the bar</h3>
                            <p>
                                SUSHI in the bar: {{ bar.barSushi.decimal(18, 4) }}<br>
                                Your SUSHI stake: {{ bar.sushiStake.decimal(18, 4) }}<br>
                                <br>
                                Your xSUSHI: {{ bar.xsushi.decimal(18, 4) }}
                            </p>
                            <div class="input-group mb-3">
                                <input type="number" v-model="leaveAmount" placeholder="xSUSHI"><br>
                                <div class="input-group-append">
                                    <span class="input-group-text" style="cursor: pointer;"
                                        @click="leaveAmount = Number(bar.xsushi / 1000000000000n) / 1000000">Max</span>
                                </div>
                            </div>

                            <button class="btn btn-primary" @click="bar.leave(leaveWei)">Leave the bar</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Outside</h3>
                            <p>
                                Sushi: {{ bar.sushi.decimal(18, 4) }}<br>
                            </p>
                            <div class="input-group mb-3">
                                <input type="number" v-model="enterAmount" placeholder="SUSHI"><br>
                                <div class="input-group-append">
                                    <span class="input-group-text" style="cursor: pointer;"
                                        @click="enterAmount = Number(bar.sushi / 1000000000000n) / 1000000">Max</span>
                                </div>
                            </div>
                            <button v-if="!bar.allowance || bar.allowance < enterAmount" class="btn btn-primary"
                                @click="bar.allow()">Allow</button>
                            <button v-else="" class="btn btn-primary" @click="bar.enter(enterWei)">Enter the
                                bar</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">What is this?</h3>
                            <p>
                                Everytime someone trades on SushiSwap, 0.05% will go to the Kitchen. Anyone can be
                                kind and serve it up. This will turn it into yummy SUSHI and deliver it to everyone
                                in the bar. So everyone will hav a little more SUSHI.<br>
                                <br>
                                When you stake enter the SushiBar, you get xSUSHI for you SUSHI. You will keep the same
                                amount of xSUSHI. Everytime someone serves up delicious SUSHI, your xSUSHI will be worth
                                a little more SUSHI.<br>
                                <br>
                                If you leave the bar now, you'll get around {{ bar.sushiStake.decimal(18, 4) }}
                                SUSHI.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">What's cooking in the Kitchen?</h3>
                            <p>
                                Here's what's currently waiting in the Kitchen.
                            </p>
                            <table class="mb-3">
                                <thead>
                                    <th>Pool</th>
                                    <th class="text-right">Value</th>
                                    <th class="text-right">Your share</th>
                                </thead>
                                <tbody>
                                    <tr v-for="pair in pairs">
                                        <td class="pr-3">{{ pairNames[pair.pair] }}</td>
                                        <td class="text-right">
                                            ${{ (pair.valueToken0InCurrency + pair.valueToken1InCurrency).decimal(6, 2) }}
                                        </td>
                                        <td class="text-right">
                                            ${{ userShare(pair).decimal(6, 2) }}
                                        </td>
                                        <td>
                                            <button class="btn btn-primary ml-3"
                                                @click="convert(pair.token0, pair.token1)">Serve it
                                                up!</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                If you serve it, it will go to the bar, but you'll have to share it with everyone...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center py-2" style="visibility: hidden;">
            Quickly flung together by <a href="https://twitter.com/Boring_Crypto">@Boring_Crypto</a> with the help
            of 🥡 and 🍺.
        </footer>
        <footer class="fixed-bottom text-center py-2" style="background:#7f7f7f; background:rgba(0,0,0,0.5);">
            Quickly flung together by <a href="https://twitter.com/Boring_Crypto">@Boring_Crypto</a> with the help
            of 🥡 and 🍺.
        </footer>
    </div>
</body>


<script>
    function createApp() {
        var app = new Vue({
            el: "#app",
            data: {
                address: null,
                bar: null,
                ethRate: 0,
                pairs: [],
                enterAmount: 0,
                leaveAmount: 0,
                pairNames: {
                    "0x795065dCc9f64b5614C407a6EFDC400DA6221FB0": "SUSHI/ETH",
                    "0x397FF1542f962076d0BFE58eA045FfA2d347ACa0": "USDC/ETH",
                    "0xCb2286d9471cc185281c4f763d34A962ED212962": "AMPL/ETH",
                    "0x117d4288B3635021a3D612FE05a3Cbf5C717fEf2": "SRM/ETH",
                    "0xA75F7c2F025f470355515482BdE9EFA8153536A8": "BAND/ETH",
                    "0x58Dc5a51fE44589BEb22E8CE67720B5BC5378009": "CRV/ETH",
                    "0x95b54C8Da12BB23F7A5F6E26C38D04aCC6F81820": "YAMv2/ETH",
                    "0xCb2286d9471cc185281c4f763d34A962ED212962": "AMPL/ETH",
                    "0xC40D16476380e4037e6b1A2594cAF6a6cc8Da967": "LINK/ETH",
                    "0x001b6450083E531A5a7Bf310BD2c1Af4247E23D4": "UMA/ETH",
                    "0xA1d7b2d891e3A1f9ef4bBC5be20630C2FEB1c470": "SNX/ETH",
                    "0x5E63360E891BD60C69445970256C260b0A6A54c6": "LEND/ETH",
                    "0xF1F85b2C54a2bD284B1cf4141D64fD171Bd85539": "sUSD/ETH",
                    "0x06da0fd433C1A5d7a4faa01111c044910A184553": "USDT/ETH",
                    "0x088ee5007C98a9677165D78dD2109AE4a3D04d0C": "YFI/ETH",
                    "0xC3D03e4F041Fd4cD388c549Ee2A29a9E5075882f": "DAI/ETH",
                    "0x611CDe65deA90918c0078ac0400A72B0D25B9bb1": "REN/ETH",
                    "0x31503dcb60119A812feE820bb7042752019F2355": "COMP/ETH"

                }
            },
            computed: {
                enterWei: function () {
                    return BigInt(Number(this.enterAmount) * 1000000) * 1000000000000n
                },
                leaveWei: function () {
                    return BigInt(Number(this.leaveAmount) * 1000000) * 1000000000000n
                }
            },
            methods: {
                connect: async function () {
                    // Connect to wallet
                    web3 = new Web3(window.ethereum);
                    this.address = (await window.ethereum.enable())[0];

                    // Create SushiSwapJs
                    this.sushiswap = new SushiSwap(web3);

                    this.bar = await this.sushiswap.getBar(this.address);
                    this.sushiswap.auto_update(async () => {
                        await this.bar.poll();

                        await this.sushiswap.getMakerInfo();
                        this.ethRate = this.sushiswap.ethRate;
                        this.pairs = this.sushiswap.makerPairs;
                    }, true);
                },
                userShare: function (pair) {
                    return (pair.totalValueInCurrency * this.bar.poolShare / BigInt("1000000000000000000"));
                },
                convert: async function (token0, token1) {
                    await this.sushiswap.makerConvert(this.address, token0, token1);
                }
            }
        })
    }

    $(document).ready(function () {
        createApp();
    });
</script>

</html>