<template id="page_template">
    <div class="mt-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Assets</h4>
                        <table class="w-100">
                            <tr v-for="asset in assets" v-if="asset.balance > 0n" :is="asset.handler.componentName"
                                :asset="asset" :app="app" :key="asset.address">
                            </tr>
                        </table>
                        <p>
                            This page is a work in progress.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    app.page = {
        props: ['manager', 'address', 'app'],
        data: function () {
            return {
                assets: []
            }
        },
        mounted: async function () {
            await this.init();
        },
        watch: {
            'address': async function () {
                this.assets = [];
                await this.init();
            },
        },
        methods: {
            init: async function () {
                new Assets(this.manager, this.assets).init();
            }
        }
    }
    page_done();
</script>