<template id="page_template">
    <div class="my-3">
        <alert v-if="!app.kashiApproved" type="info">To use Kashi with the Bentobox, it needs to be approved. You haven't approved Kashi yet. This will automatically be included when you do your first transaction that requires approval. Once approved, this message will disappear.</alert>

        <ul class="nav nav-pills mb-3 justify-content-center" id="myTab" role="tablist">
            <li class="nav-item mr-2"><a class="nav-link active" data-toggle="tab" href="#pageBorrow">Borrow</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pageSupply">Supply</a></li>
        </ul>

        <div class="tab-content mx-auto" style="max-width: 720;">
            <div id="pageBorrow" class="tab-pane fade show active">
                <h4>Your Borrow Positions</h4>
                <table class="table table-hover w-100">
                    <thead>
                        <th>Collateral</th>
                        <th>Borrow</th>
                        <th class="text-right">Health</th>
                        <th class="text-right">Interest</th>
                    </thead>
                    <tbody>
                        <tr v-for="pair in pairsChecked" v-if="pair.checked && (pair.userCollateral.set || pair.userBorrow.set)" @click="$router.push('/kashipair/' + pair.address)" style="cursor: pointer;">
                            <td class="text-right">
                                <img class="rounded float-left" :src="pair.collateral.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                                {{ pair.userCollateral.amount.str }}<br>
                                <small>{{ pair.userCollateral.usd.str }}</small>
                            </td>
                            <td class="text-right">
                                <img class="rounded float-left" :src="pair.asset.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                                {{ pair.userBorrow.current.str }}<br>
                                <small>{{ pair.userBorrow.current.usd.str }}</small>
                            </td>
                            <td class="text-right"><health :pair="pair"></health></td>
                            <td class="text-right"><interest :pair="pair" :current="false"></interest></td>
                        </tr>
                    </tbody>
                </table>

                <h4>Available Pairs</h4>
                <table class="table w-100 mb-0">
                    <thead>
                        <th>Collateral</th>
                        <th>Borrow</th>
                        <th>Oracle</th>
                        <th class="text-right">Interest</th>
                    </thead>
                    <tr v-for="pair in pairsChecked" v-if="pair.checked && pair.totalAsset.elastic > 1000n" @click="$router.push('/kashipair/' + pair.address)" style="cursor: pointer;">
                        <td v-if="pair.collateral">
                            <img class="rounded float-left" :src="pair.collateral.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                            {{ pair.collateral.symbol }}
                        </td>
                        <td v-if="pair.asset">
                            <img class="rounded float-left" :src="pair.asset.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                            {{ pair.asset.symbol }}
                        </td>
                        <td>{{ pair.oracleName }}</td>
                        <td class="text-right"><interest :pair="pair" :current="true"></interest></td>
                    </tr>
                </table>
            </div>

            <div id="pageSupply" class="tab-pane fade">
                <h4>Your Supply Positions</h4>
                <table class="table w-100 mb-0">
                    <thead>
                        <th>Pair</th>
                        <th>Supplied</th>
                        <th>Oracle</th>
                        <th class="text-right">Utilization</th>
                        <th class="text-right">Supply APR</th>
                    </thead>
                    <tr v-for="pair in pairsChecked" v-if="pair.checked && pair.userAsset.set" @click="$router.push('/kashipair/' + pair.address)" style="cursor: pointer;">
                        <td v-if="pair.collateral">
                            <img class="rounded" :src="pair.collateral.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                            <img class="rounded" :src="pair.asset.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                            {{ pair.collateral.symbol }}/{{ pair.asset.symbol }}
                        </td>
                        <td v-if="pair.asset">
                            {{ pair.userAsset.amount.str }}<br>
                            <small>{{ pair.userAsset.usd.str }}</small>
                        </td>
                        <td>{{ pair.oracleName }} {{ pair.oracleValid }}</td>
                        <td class="text-right">{{ pair.utilization.print(16, 2) }}%</td>
                        <td class="text-right">{{ pair.supplyAPR.print(16, 2) }}%</td>
                    </tr>
                </table>

                <h4>Available Pairs</h4>
                <table class="table w-100 mb-0">
                    <thead>
                        <th>Collateral</th>
                        <th>Asset</th>
                        <th>Oracle</th>
                        <th class="text-right">Rate</th>
                        <th class="text-right">Utilization</th>
                        <th class="text-right">Supply APR</th>
                    </thead>
                    <tr v-for="pair in pairsChecked" v-if="pair.checked" @click="$router.push('/kashipair/' + pair.address)" style="cursor: pointer;">
                        <td v-if="pair.collateral">
                            <img class="rounded float-left" :src="pair.collateral.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                            {{ pair.collateral.symbol }}
                        </td>
                        <td v-if="pair.asset">
                            <img class="rounded float-left" :src="pair.asset.logoURI || '/img/no-icon.png'" style="width: 28px; height: 28px;" onerror="this.style.display='/img/no-icon.png'"/>
                            {{ pair.asset.symbol }}
                        </td>
                        <td>{{ pair.oracleName }} {{ pair.oracleValid }} {{ pair.oracleError }} {{ pair.oracleWarning }}</td>
                        <td class="text-right">
                            {{ pair.currentExchangeRate.print(pair.collateral.decimals + 18n - pair.asset.decimals, 1) }}
                        </td>
                        <td class="text-right">{{ pair.utilization.print(16, 2) }}%</td>
                        <td class="text-right">{{ pair.currentSupplyAPR.print(16, 2) }}%</td>
                    </tr>
                </table>

                <div class="card mt-3">
                    <div class="card-body">
                        <h4>Add Kashi Lending Pair</h4>
                        <p>
                            If you want to supply to a pair that isn't listed yet, you can use this tool to create a new pair based on Chainlink oracles.
                        </p>
                        <div class="form-group">
                            <label for="collateralSelect">Collateral (long)</label>
                            <select class="form-control" id="collateralSelect" v-model="newCollateral">
                                <option v-for="asset in chainlinkTokens" :value="asset">{{ asset.symbol }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="assetSelect">Asset to borrow (short)</label>
                            <select class="form-control" id="assetSelect" v-model="newAsset">
                                <option v-for="asset in chainlinkTokens" :value="asset">{{ asset.symbol }}</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary" @click='create'>Create Lending Pair</button>                            
                    </div>
                </div>
            </div>
        </div>

        <web3 :manager="manager" :init="init" :poll="poll"></web3>

        <eventreader
            :manager="manager"
            :address="web3.bentobox.address"
            :topics="['0xd62166f3c2149208e51788b1401cc356bf5da1fc6c7886a32e18570f57d88b3b', '0x000000000000000000000000' + web3.kashipair.address.slice(2)]"
            :handler="pair_handler"
            :output="pairsRaw"
            :abi="abis.bentobox"
            :synced="pairs_synced"></eventreader>
    </div>
</template>
<script>
    // Functions that need accrue to be called
    const ACTION_ADD_ASSET = 1;
    const ACTION_REPAY = 2;
    const ACTION_REMOVE_ASSET = 3;
    const ACTION_REMOVE_COLLATERAL = 4;
    const ACTION_BORROW = 5;
    const ACTION_GET_REPAY_SHARE = 6;
    const ACTION_GET_REPAY_PART = 7;
    const ACTION_ACCRUE = 8;

    // Functions that don't need accrue to be called
    const ACTION_ADD_COLLATERAL = 10;
    const ACTION_UPDATE_EXCHANGE_RATE = 11;

    // Function on BentoBox
    const ACTION_BENTO_DEPOSIT = 20;
    const ACTION_BENTO_WITHDRAW = 21;
    const ACTION_BENTO_TRANSFER = 22;
    const ACTION_BENTO_TRANSFER_MULTIPLE = 23;
    const ACTION_BENTO_SETAPPROVAL = 24;

    // Any external call (except to BentoBox)
    const ACTION_CALL = 30;

    const MINIMUM_TARGET_UTILIZATION = 700000000000000000n; // 70%
    const MAXIMUM_TARGET_UTILIZATION = 800000000000000000n; // 80%
    const UTILIZATION_PRECISION = 1000000000000000000n;
    const FULL_UTILIZATION = 1000000000000000000n;
    const FULL_UTILIZATION_MINUS_MAX = FULL_UTILIZATION - MAXIMUM_TARGET_UTILIZATION;
    const STARTING_INTEREST_PER_YEAR = 317097920n * 60n * 60n * 24n * 365n; // approx 1% APR
    const MINIMUM_INTEREST_PER_YEAR = 79274480n * 60n * 60n * 24n * 365n; // approx 0.25% APR
    const MAXIMUM_INTEREST_PER_YEAR = 317097920000n * 60n * 60n * 24n * 365n; // approx 1000% APR
    const INTEREST_ELASTICITY = 28800000000000000000000000000000000000000n; // Half or double in 28800 seconds (8 hours) if linear
    const FACTOR_PRECISION = 1000000000000000000n;

    class KashiCooker {
        constructor(pair, web3, userAddress) {
            this.web3 = web3
            this.pair = pair
            this.address = userAddress
            this.contract = this.web3.contract("kashipair", this.pair.address).methods

            this.actions = []
            this.values = []
            this.datas = []
        }

        async approve() {
            const permit = await signMasterContractApproval(this.web3, this.web3.kashipair.address, this.address, true)

            this.actions.push(ACTION_BENTO_SETAPPROVAL)
            this.values.push(0)
            this.datas.push(this.web3.eth.abi.encodeParameters(["address", "address", "bool", "uint8", "bytes32", "bytes32"], [this.address, this.web3.kashipair.address, true, permit.v, permit.r, permit.s]))
            return this
        }

        async addCollateral(amountInput) {
            const amount = Decimal(amountInput).toInt(this.pair.collateral.decimals)
            const share = await this.web3.bentobox.toShare(this.pair.collateral.address, amount, true).call()

            this.actions.push(ACTION_ADD_COLLATERAL)
            this.values.push(0)
            this.datas.push(this.web3.eth.abi.encodeParameters(["int256", "address", "bool"], [share, this.address, false]))
            return this
        }

        async depositCollateral(amountInput) {
            // TODO: WETH
            const amount = Decimal(amountInput).toInt(this.pair.collateral.decimals)

            this.actions.push(ACTION_BENTO_DEPOSIT, ACTION_ADD_COLLATERAL)
            this.values.push(0, 0)
            this.datas.push(
                this.web3.eth.abi.encodeParameters(["address", "address", "int256", "int256"], [this.pair.collateral.address, this.address, amount, 0]),
                this.web3.eth.abi.encodeParameters(["int256", "address", "bool"], [-2, this.address, false])
            )
            return this
        }

        async addAsset(amountInput) {
            const amount = Decimal(amountInput).toInt(this.pair.asset.decimals)
            this.actions.push(ACTION_BENTO_DEPOSIT, ACTION_ADD_ASSET)
            this.values.push(0, 0)
            this.datas.push(
                this.web3.eth.abi.encodeParameters(["address", "address", "int256", "int256"], [this.pair.asset.address, this.address, amount, 0]),
                this.web3.eth.abi.encodeParameters(["int256", "address", "bool"], [-2, this.address, false])
            )
            return this
        }

        async borrow(amountInput) {
            const amount = Decimal(amountInput).toInt(this.pair.asset.decimals)
            this.actions.push(ACTION_BORROW)
            this.values.push(0)
            this.datas.push(this.web3.eth.abi.encodeParameters(["uint256", "address"], [amount, this.address]))
            return this
        }

        async cook() {
            console.log(this)

            return this.contract.cook(
                this.actions,
                this.values,
                this.datas
            ).send({ from: this.address })
        }
    }

    function takeFee(amount) {
        return amount * 9n / 10n
    }
    
    function addBorrowFee(amount) {
        return amount * 10005n / 10000n
    }

    function toElastic(base, rebaseObj) {
        return rebase(base, rebaseObj.base, rebaseObj.elastic)
    }

    function toBase(base, rebaseObj) {
        return rebase(base, rebaseObj.elastic, rebaseObj.base)
    }

    app.page = {
        props: ["web3", "manager", "address", "block", "assets", "time"],
        data: function () {
            return {
                newCollateral: "",
                newAsset: "",
                rate: 1,
                pairsRaw: [],
                pairs: [],
                pairsMap: {},
                mappings: ChainlinkMapping,
                chainlinkTokens: chainlinkTokens.map(t => app.assetManager.addAsset({address: t}))
            };
        },
        mounted: async function() {
        },
        computed: {
            pairsChecked: function() {
                return this.pairs.filter(pair => pair.checked && pair.collateral && pair.asset && pair.collateral.loaded && pair.asset.loaded).map(pair => {
                    return pair
                })
            },
        },
        methods: {
            pair_handler: async function(log, web3, row, decoded) {
                console.log("PAIR", log, row,decoded, this.web3.eth.abi.decodeParameters(["address", "address", "address", "bytes"], decoded.data))
                let deployParams = this.web3.eth.abi.decodeParameters(["address", "address", "address", "bytes"], decoded.data)

                return {
                    address: decoded.cloneAddress.toLowerCase(),
                    collateralAddress: deployParams[0].toLowerCase(),
                    assetAddress: deployParams[1].toLowerCase(),
                    oracle: deployParams[2].toLowerCase(),
                    oracleData: deployParams[3]
                }
            },
            pairs_synced: async function() {
                this.pairsRaw.forEach(pair => {
                    if (!this.pairsMap[pair.address]) {
                        newPair = new Pair(pair, this.web3)
                        //if (!newPair.oracleVerified) { return }
                        this.pairs.push(this.pairsMap[newPair.address] = newPair)
                    }
                })
                await this.poll()
            },
            init: async function() {
                for (let address in this.mappings) {
                    const mapping = this.mappings[address]
                    objAssign(mapping, {
                        address: address,
                        fromAsset: app.assetManager.addAsset({ address: mapping.from }),
                        toAsset: app.assetManager.addAsset({ address: mapping.to }),
                    })
                }
                /*await app.assetManager.getTokenInfo()
                await app.poll()
                for (let address in this.mappings) {
                    const mapping = this.mappings[address]
                    const multiplierDecimals = mapping.decimals - BigInt(mapping.toAsset.decimals) + BigInt(mapping.fromAsset.decimals)
                    console.log(mapping)
                    let onchainRate = 0n
                    if (mapping.fromAsset.rate && mapping.toAsset.rate)
                    {
                        onchainRate = mapping.toAsset.rate
                        if (multiplierDecimals > 0n) { onchainRate *= 10n ** multiplierDecimals }
                        if (multiplierDecimals < 0n) { onchainRate *= 10n ** -multiplierDecimals }
                        onchainRate /= mapping.fromAsset.rate
                    }

                    objAssign(mapping, {
                        chainlinkRate: BigInt(await this.web3.contract("chainlinkproxy", address).methods.latestAnswer().call()),
                        onchainRate: onchainRate
                    })
                    if (this.chainlinkTokens.indexOf(mapping.fromAsset.address) == -1) {
                        this.chainlinkTokens.push(mapping.fromAsset.address)
                    }
                }*/
            },
            poll: async function() {
                if (this.pairs.length) {
                    console.log(this.pairs.map(pair => pair.address))
                    const kashiInfo = rpcToObj(await this.web3.boringhelper.pollKashiPairs(this.address, this.pairs.map(pair => pair.address)).call());
                    kashiInfo.forEach((pair, i) => { this.pairs[i].update(pair) })
                }
            },
            create: async function () {
                let asset = this.newAsset.address.toLowerCase()  // from
                let collateral = this.newCollateral.address.toLowerCase() // to
                let multiply = "0x0000000000000000000000000000000000000000"
                let multiplyMatches = Object.values(this.mappings).filter(m => m.from == asset && m.to == collateral)
                /*let oracleData
                if (multiplyMatches.length) {
                    multiply = multiplyMatches[0]
                    const oracleData = await this.web3.chainlinkoracle.getDataParameter(exchangeRate).call()
                } else {

                }*/

                
                const kashiData = this.web3.eth.abi.encodeParameters(['address', 'address', 'address', 'bytes'], [collateral, asset, this.web3.chainlinkoracle.address, oracleData])
                await this.web3.bentobox.deploy(this.web3.kashipair.address, kashiData, true).send({ from: this.address })
            },
            createPegged: async function () {
                const exchangeRate = Decimal(this.rate).toInt(this.newCollateral.decimals + 18n - this.newAsset.decimals)
                const oracleData = await this.web3.peggedoracle.getDataParameter(exchangeRate).call()
                const kashiData = this.web3.eth.abi.encodeParameters(['address', 'address', 'address', 'bytes'], [this.newCollateral.address, this.newAsset.address, this.web3.peggedoracle.address, oracleData])
                await this.web3.bentobox.deploy(this.web3.kashipair.address, kashiData, true).send({ from: this.address })
            },
        },
    };

    Vue.component("health", {
        props: ["pair"],
        computed: {
            color: function() {
                if (this.pair.health < 1250000000000000000n) { return "lightcoral" }
                if (this.pair.health < 1500000000000000000n) { return "orange" }
                return "green"
            }
        },
        template: "<span :style=\"color ? 'color: ' + color + ';' : ''\">{{ pair.health.print(18, 2) }}</span>"
    })

    Vue.component("interest", {
        props: ["pair", "current"],
        computed: {
            color: function() {
                if (this.pair.totalBorrow.base && this.pair.utilization < 700000000000000000n) { return "green" } // class="fas fa-arrow-alt-circle-down"></i></span>
                if (this.pair.totalBorrow.base && this.pair.utilization > 800000000000000000n) { return "lightcoral" } // class="fas fa-arrow-alt-circle-up"></i></span>
                return "" //><i class="fas fa-minus-circle"></i></span><br>
            },
            icon: function () {
                if (this.pair.totalBorrow.base && this.pair.utilization < 700000000000000000n) { return "fas fa-arrow-alt-circle-down" }
                if (this.pair.totalBorrow.base && this.pair.utilization > 800000000000000000n) { return "fas fa-arrow-alt-circle-up" }
                return "fas fa-minus-circle"
            }
        },
        template: "<span>{{ (current ? pair.currentInterest : pair.interest).print(16, 2) }}% <i :style=\"color ? 'color: ' + color + ';' : ''\" :class='icon'></i></span>"
    })

    page_done();
</script>
