<template id="page_template">
    <div class="mt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div v-if="!app.kashiApproved" class="alert alert-secondary" role="alert" v-if="pair.newHealth && pair.newHealth < 1150000000000000000n">
                    <i class="fas fa-info-circle"></i> To use Kashi with the Bentobox, it needs to be approved. You haven't approved Kashi yet. This will automatically be included when you do your first transaction that requires approval. Once approved, this message will disappear.
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#pageBorrow">Borrow</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pageSupply">Supply</a></li>
                </ul>
                <div class="card" style="border-radius: 0 0 0.25rem 0.25rem; border-top: none;">
                    <div class="card-body">
                        <div class="tab-content">
                            <div id="pageBorrow" class="tab-pane fade show active">
                                <h4>Available Borrow Pairs</h4>
                                <table class="table w-100 mb-0">
                                    <thead>
                                        <th>Collateral</th>
                                        <th>Borrow</th>
                                        <th>Oracle</th>
                                        <th class="text-right">Interest</th>
                                        <th></th>
                                    </thead>
                                    <template v-for="pair in pairsChecked" v-if="pair.checked && (pair.totalAsset.elastic > 1000n || pair.userBorrowAmount)">
                                        <tr style="cursor: pointer;" data-toggle="collapse" :data-target="'.kashiBorrow' + pair.address">
                                            <td v-if="pair.collateral">{{ pair.collateral.symbol }}</td>
                                            <td v-if="pair.asset">{{ pair.asset.symbol }}</td>
                                            <td>{{ pair.oracleName }}</td>
                                            <td class="text-right">
                                                {{ pair.currentInterestPerYear.print(16, 2) }}%
                                                <span v-if="pair.totalBorrow.base && pair.utilization < 700000000000000000n"><i class="fas fa-arrow-alt-circle-down"></i></span>
                                                <span v-else-if="pair.totalBorrow.base && pair.utilization > 800000000000000000n"><i class="fas fa-arrow-alt-circle-up"></i></span>
                                                <span v-else=""><i class="fas fa-minus-circle"></i></span>
                                            </td>
                                            <td><i class="fas fa-chevron-down"></i></td>
                                        </tr>
                                        <tr :class="'collapse kashiBorrow' + pair.address" style="background-color: #eeeeee">
                                            <td colspan="7">
                                                <div v-if="!pair.currentExchangeRate" :class="'mx-3 kashiBorrow' + pair.address">
                                                    The exchange rate has not been initialized yet on this pair. Depending on the oracle you may have to update more than once with some time inbetween.<br>
                                                    <button type="button" class="btn btn-sm btn-primary mt-3" @click="updateExchangeRate(pair)">Update Exchange Rate</button>
                                                </div>
                                                <div v-else="" :class="'mx-3 kashiBorrow' + pair.address">
                                                    <p class="mb-1">
                                                        Health: {{ pair.health.print(18, 2) }} ({{ pair.healthPercentage.print(16, 2) }}%)
                                                        <small v-if="pair.addCollateralAmount || pair.borrowAmount" class="text-info">
                                                            {{ pair.newHealth.print(18, 2) }} ({{ pair.newHealthPercentage.print(16, 2) }}%)
                                                        </small>
                                                    </p>

                                                    <div class="alert alert-danger" role="alert" v-if="pair.newHealth && pair.newHealth < 1150000000000000000n">
                                                        <i class="fas fa-bomb"></i> You have borrowed a high amount against your collateral. A small change in price may cause you to get liquidated. It is recommended that you add more collateral or repay some of what you have borrowed.
                                                    </div>

                                                    Utilization: {{ pair.utilization.print(16, 2) }}%<br>

                                                    <div v-if="pair.userBentoCollateralAmount || pair.collateral.balance" class="mt-3" style="max-width: 400px;">
                                                        <div class="mb-1">
                                                            <div class="float-right pt-1"><small>${{ pair.userCollateralUSD.print(6, 2) }}</small></div>
                                                            Collateral: {{ pair.userCollateralAmount.print(pair.collateral.decimals, 0) }} {{ pair.collateral.symbol }}
                                                            <small v-if="pair.addCollateralAmount" class="text-info">
                                                                {{ pair.newUserCollateralAmount.print(pair.collateral.decimals, 0) }} {{ pair.collateral.symbol }}
                                                            </small>
                                                        </div>
                                                        <div v-if="pair.collateralFrom == 'bento'">
                                                            <div class="input-group">
                                                                <input class="form-control" type="number" v-model="pair.addCollateralAmount">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text" style="cursor: pointer;" @click="pair.addCollateralAmount = pair.userBentoCollateralAmount.toDec(pair.collateral.decimals)">Max</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div v-if="pair.collateralFrom == 'wallet'">
                                                            <div class="input-group">
                                                                <input class="form-control" type="number" v-model="pair.addCollateralAmount">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text" style="cursor: pointer;" @click="pair.addCollateralAmount = pair.collateral.balance.toDec(pair.collateral.decimals)">Max</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <small class="form-text text-muted">
                                                            <div class="float-right">Max: {{ (pair.collateralFrom == 'bento' ? pair.userBentoCollateralAmount : pair.collateral.balance).print(pair.collateral.decimals, 0) }} {{ pair.collateral.symbol }}</div>
                                                            Add from
                                                            <input type="radio" id="collateralFromBento" value="bento" v-model="pair.collateralFrom" autocomplete="off" checked style="height: 10px">
                                                            <label for="collateralFromBento">BentoBox</label>
                                                            <input type="radio" id="collateralFromChain" value="wallet" v-model="pair.collateralFrom" autocomplete="off" style="height: 10px">
                                                            <label for="collateralFromChain">Wallet</label>
                                                        </small>
                                                    </div>
                                                    <div v-else="" class="mt-3">
                                                        You don't have any {{ pair.collateral.symbol }} for collateral, so you can't borrow.
                                                    </div>                                       
                                                    <div v-if="pair.newUserCollateralAmount && pair.safeMaxBorrowableLeft > 0n" class="mt-3" style="max-width: 400px;">
                                                        <div class="mb-1">
                                                            <div class="float-right pt-1"><small>${{ pair.userBorrowUSD.print(6, 2) }}</small></div>
                                                            Borrowed: {{ pair.currentUserBorrowAmount.print(pair.asset.decimals, 0) }} {{ pair.asset.symbol }}
                                                            <small v-if="pair.borrowAmount" class="text-info">
                                                                {{ pair.newUserBorrowAmount.print(pair.asset.decimals, 0) }} {{ pair.asset.symbol }}
                                                            </small>
                                                        </div>
                                                        <div class="input-group">
                                                            <input class="form-control" type="number" v-model="pair.borrowAmount">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" style="cursor: pointer;" @click="pair.borrowAmount = pair.safeMaxBorrowableLeftPossible.toDec(pair.asset.decimals)">Max</span>
                                                            </div>
                                                        </div>
                                                        <small class="form-text text-muted">
                                                            Max: {{ pair.safeMaxBorrowableLeftPossible.print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}
                                                            {{ pair.safeMaxBorrowableLeftPossible < pair.safeMaxBorrowableLeft ? '(limited by liquidity)' : '' }}
                                                            -
                                                            instant 0.05% borrow fee and variable interest, currently {{ pair.interestPerYear.print(16, 2) }}%.
                                                        </small>

                                                        <button 
                                                            v-if="pair.addCollateralAmount || pair.borrowAmount" 
                                                            class="btn btn-sm btn-primary mt-3"
                                                            type="button" @click='borrowAction(pair)'>
                                                            <span v-if="pair.addCollateralAmount && pair.borrowAmount">Add collateral and Borrow</span>
                                                            <span v-else-if="pair.addCollateralAmount">Add collateral</span>
                                                            <span v-else-if="pair.borrowAmount">Borrow</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div v-if="app.debug">
                                                        <h5 class="card-title mt-3">Testing Info</h5>
                                                        Borrow interest (in contract): {{ pair.interestPerYear }}<br>
                                                        Borrow interest (accrued): {{ pair.currentInterestPerYear }}<br>

                                                        Rate (oracle): {{ pair.oracleExchangeRate.print(pair.collateral.decimals + 18n - pair.asset.decimals, 1) }}<br>
                                                        Rate (stored): {{ pair.currentExchangeRate.print(pair.collateral.decimals + 18n - pair.asset.decimals, 1) }}<br>
        
                                                        TotalCollateral share: {{ pair.totalCollateralShare }}<br>
                                                        TotalAsset ratio (share : fraction): {{ pair.totalAsset.elastic }} : {{ pair.totalAsset.base }}<br>
                                                        TotalBorrow ratio (share : part): {{ pair.totalBorrow.elastic }} : {{ pair.totalBorrow.base }}<br>
                                                        <br>
                                                        Total collateral: {{ pair.totalCollateralAmount.print(pair.collateral.decimals, 2) }} {{ pair.collateral.symbol }}<br>
                                                        Total assets: {{ (pair.totalAssetAmount + pair.currentBorrowAmount).print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Total borrowed: {{ pair.currentBorrowAmount.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        User assets fraction: {{ pair.userAssetFraction.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        User assets share: {{ pair.userAssetShare.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        User assets: {{ pair.userAssetAmount.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        User assets from borrows: {{ pair.userAssetAmountFromBorrows.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        User Solvency (oracle): {{ pair.userSolvencyRatioOracle.print(16, 2) }}%<br>
                                                        User Solvency (stored): {{ pair.userSolvencyRatioStored.print(16, 2) }}%<br>
                                                        <br>
                                                        Max borrowable (oracle): {{ (pair.maxBorrowableOracle - pair.currentUserBorrowAmount).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Max borrowable (stored): {{ (pair.maxBorrowableStored - pair.currentUserBorrowAmount).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Max borrowable (min): {{ (pair.maxBorrowable - pair.currentUserBorrowAmount).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Safe Max borrowable: {{ pair.safeMaxBorrowableLeft.print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Safe Max borrowable and available: {{ pair.safeMaxBorrowableLeftPossible.print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        Fee fractions: {{ pair.accrueInfo.feesEarnedFraction }}<br>
                                                        Fee shares: {{ pair.feeAssetShare }}<br>
                                                        Fee assets: {{ pair.feeAssetAmount.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Fee assets from borrows: {{ pair.feeAssetAmountFromBorrows.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Fee assets accrued: {{ pair.feeAssetAmountAccrued.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Fee assets total: {{ (pair.feeAssetAmount + pair.feeAssetAmountFromBorrows + pair.feeAssetAmountAccrued).print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                            <div id="pageSupply" class="tab-pane fade">
                                <h4>Available Supply Pairs</h4>
                                <table class="table w-100 mb-0">
                                    <thead>
                                        <th>Collateral</th>
                                        <th>Asset</th>
                                        <th>Oracle</th>
                                        <th class="text-right">Rate</th>
                                        <th class="text-right">Utilization</th>
                                        <th class="text-right">Supply APR</th>
                                    </thead>
                                    <template v-for="pair in pairsChecked" v-if="pair.checked">
                                        <tr style="cursor: pointer;" data-toggle="collapse" :data-target="'.kashiSupply' + pair.address">
                                            <td v-if="pair.collateral">{{ pair.collateral.symbol }}</td>
                                            <td v-if="pair.asset">{{ pair.asset.symbol }}</td>
                                            <td>{{ pair.oracleName }}</td>
                                            <td class="text-right">
                                                {{ pair.currentExchangeRate.print(pair.collateral.decimals + 18n - pair.asset.decimals, 1) }}
                                            </td>
                                            <td class="text-right">{{ pair.utilization.print(16, 2) }}%</td>
                                            <td class="text-right">{{ pair.currentSupplyAPR.print(16, 2) }}%</td>
                                        </tr>
                                        <tr :class="'collapse kashiSupply' + pair.address" style="background-color: #eeeeee">
                                            <td colspan="7">
                                                <div v-if="!pair.currentExchangeRate" :class="'mx-3 kashiSupply' + pair.address">
                                                    The exchange rate has not been initialized yet on this pair. Depending on the oracle you may have to update more than once with some time inbetween.<br>
                                                    <button type="button" class="btn btn-sm btn-primary mt-3" @click="updateExchangeRate(pair)">Update Exchange Rate</button>
                                                </div>
                                                <div v-else="" :class="'mx-3 mb-3 kashiSupply' + pair.address">
                                                    User assets total: {{ (pair.userAssetAmount + pair.userAssetAmountFromBorrows).print(pair.asset.decimals, 0) }} {{ pair.asset.symbol }}<br>
                                                    User collateral: {{ pair.userCollateralAmount.print(pair.collateral.decimals, 0) }} {{ pair.collateral.symbol }}<br>
                                                    User borrowed: {{ pair.currentUserBorrowAmount.print(pair.asset.decimals, 0) }} {{ pair.asset.symbol }}<br>
                                                    Health: {{ pair.health.print(18, 2) }} ({{ pair.healthPercentage.print(16, 2) }}%)<br>

                                                    <div v-if="pair.userBentoAssetAmount || pair.asset.balance" class="mt-3" style="max-width: 400px;">
                                                        <div class="float-right pt-1"><small>${{ pair.userAssetUSDTotal.print(6, 2) }}</small></div>
                                                        Supply: {{ pair.userAssetAmountTotal.print(pair.asset.decimals, 0) }} {{ pair.asset.symbol }}
                                                        <div class="input-group">
                                                            <input class="form-control" type="number" v-model="pair.addAssetAmount">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text" style="cursor: pointer;" @click="pair.addAssetAmount = pair.userBentoAssetAmount.toDec(pair.asset.decimals)">Max</span>
                                                            </div>
                                                        </div>
                                                        <small class="form-text text-muted">
                                                            <div class="float-right">Max: {{ (pair.supplyFrom == 'bento' ? pair.userBentoAssetAmount : pair.asset.balance).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}</div>
                                                            Supply from
                                                            <input type="radio" id="supplyFromBento" value="bento" v-model="pair.supplyFrom" autocomplete="off" checked style="height: 10px">
                                                            <label for="supplyFromBento">BentoBox</label>
                                                            <input type="radio" id="supplyFromChain" value="wallet" v-model="pair.supplyFrom" autocomplete="off" style="height: 10px">
                                                            <label for="supplyFromChain">Wallet</label>
                                                            <br>
                                                            You will earn a variable interest, currently {{ pair.currentSupplyAPR.print(16, 2) }}% per year.
                                                        </small>
                                                        <button 
                                                            v-if="Number(pair.addAssetAmount)" 
                                                            class="btn btn-sm btn-primary mt-3"
                                                            type="button" @click='addAsset(pair)'>
                                                            Add Supply
                                                        </button>                                                        
                                                    </div>                                        
                                                    
                                                    <div v-if="app.debug">
                                                        <h5 class="card-title mt-3">Testing Info</h5>
                                                        TotalCollateral share: {{ pair.totalCollateralShare }}<br>
                                                        TotalAsset ratio (share : fraction): {{ pair.totalAsset.elastic }} : {{ pair.totalAsset.base }}<br>
                                                        TotalBorrow ratio (share : part): {{ pair.totalBorrow.elastic }} : {{ pair.totalBorrow.base }}<br>
                                                        <br>
                                                        Total collateral: {{ pair.totalCollateralAmount.print(pair.collateral.decimals, 2) }} {{ pair.collateral.symbol }}<br>
                                                        Total assets: {{ (pair.totalAssetAmount + pair.currentBorrowAmount).print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Total borrowed: {{ pair.currentBorrowAmount.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        User assets fraction: {{ pair.userAssetFraction.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        User assets share: {{ pair.userAssetShare.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        User assets: {{ pair.userAssetAmount.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        User assets from borrows: {{ pair.userAssetAmountFromBorrows.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        User Solvency (oracle): {{ pair.userSolvencyRatioOracle.print(16, 2) }}%<br>
                                                        User Solvency (stored): {{ pair.userSolvencyRatioStored.print(16, 2) }}%<br>
                                                        <br>
                                                        Max borrowable (oracle): {{ (pair.maxBorrowableOracle - pair.currentUserBorrowAmount).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Max borrowable (stored): {{ (pair.maxBorrowableStored - pair.currentUserBorrowAmount).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Max borrowable (min): {{ (pair.maxBorrowable - pair.currentUserBorrowAmount).print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Safe Max borrowable: {{ pair.safeMaxBorrowableLeft.print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        Safe Max borrowable and available: {{ pair.safeMaxBorrowableLeftPossible.print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}<br>
                                                        <br>
                                                        Fee fractions: {{ pair.accrueInfo.feesEarnedFraction }}<br>
                                                        Fee shares: {{ pair.feeAssetShare }}<br>
                                                        Fee assets: {{ pair.feeAssetAmount.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Fee assets from borrows: {{ pair.feeAssetAmountFromBorrows.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Fee assets accrued: {{ pair.feeAssetAmountAccrued.print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                        Fee assets total: {{ (pair.feeAssetAmount + pair.feeAssetAmountFromBorrows + pair.feeAssetAmountAccrued).print(pair.asset.decimals) }} {{ pair.asset.symbol }}<br>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="app.debug" class="row">
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4>Add Kashi Lending Pair</h4>
                        <div class="form-group">
                            <label for="collateralSelect">Collateral (long)</label>
                            <select class="form-control" id="collateralSelect" v-model="newCollateral">
                                <option v-for="asset in assets" :value="asset">{{ asset.symbol }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="assetSelect">Asset to borrow (short)</label>
                            <select class="form-control" id="assetSelect" v-model="newAsset">
                                <option v-for="asset in assets" :value="asset">{{ asset.symbol }}</option>
                            </select>
                        </div>
                        <div v-if="web3.peggedoracle">
                            <div class="form-group">
                                <label>Exchange Rate</label>
                                <input class="form-control" type="number" v-model="rate">
                            </div>
                            <button type="button" class="btn btn-sm btn-primary" @click='create'>Create Lending Pair</button>                            
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="manager.web3.faucet.address" class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4>Faucet</h4>
                        <p>To get some tokens to play with, use the faucet...</p>
                        <p>
                            You'll receive a bunch of tokens to play with.
                        </p>
                        <button class="btn btn-primary mb-3" @click="drip">Gimme, gimme, gimme!</button>

                        <h4>Approve</h4>
                        <button type="button" class="btn btn-sm btn-primary" @click='approve'>Approve Kashi Lending</button>                            
                    </div>
                </div>
            </div>
        </div>

        <web3 :manager="manager" :poll="poll"></web3>
        <eventreader
            :manager="manager"
            :address="'0xccb146728f6D94Fe22D1030E7FA369bd33916824'"
            :topics="['0xd62166f3c2149208e51788b1401cc356bf5da1fc6c7886a32e18570f57d88b3b', '0x000000000000000000000000d57469335e06ed52b57278a0ff4ecb62bad05e99']"
            :handler="pair_handler"
            :output="pairs"
            :abi="abis.bentobox"
            :synced="pairs_synced"></eventreader>
    </div>
</template>
<script>
    // Functions that need accrue to be called
    const ACTION_ADD_ASSET = 1;
    const ACTION_REPAY = 2;
    const ACTION_REMOVE_ASSET = 3;
    const ACTION_REMOVE_COLLATERAL = 4;
    const ACTION_BORROW = 5;
    const ACTION_GET_REPAY_SHARE = 6;
    const ACTION_GET_REPAY_PART = 7;
    const ACTION_ACCRUE = 8;

    // Functions that don't need accrue to be called
    const ACTION_ADD_COLLATERAL = 10;
    const ACTION_UPDATE_EXCHANGE_RATE = 11;

    // Function on BentoBox
    const ACTION_BENTO_DEPOSIT = 20;
    const ACTION_BENTO_WITHDRAW = 21;
    const ACTION_BENTO_TRANSFER = 22;
    const ACTION_BENTO_TRANSFER_MULTIPLE = 23;
    const ACTION_BENTO_SETAPPROVAL = 24;

    // Any external call (except to BentoBox)
    const ACTION_CALL = 30;

    const MINIMUM_TARGET_UTILIZATION = 700000000000000000n; // 70%
    const MAXIMUM_TARGET_UTILIZATION = 800000000000000000n; // 80%
    const UTILIZATION_PRECISION = 1000000000000000000n;
    const FULL_UTILIZATION = 1000000000000000000n;
    const FULL_UTILIZATION_MINUS_MAX = FULL_UTILIZATION - MAXIMUM_TARGET_UTILIZATION;
    const STARTING_INTEREST_PER_YEAR = 317097920n * 60n * 60n * 24n * 365n; // approx 1% APR
    const MINIMUM_INTEREST_PER_YEAR = 79274480n * 60n * 60n * 24n * 365n; // approx 0.25% APR
    const MAXIMUM_INTEREST_PER_YEAR = 317097920000n * 60n * 60n * 24n * 365n; // approx 1000% APR
    const INTEREST_ELASTICITY = 28800000000000000000000000000000000000000n; // Half or double in 28800 seconds (8 hours) if linear
    const FACTOR_PRECISION = 1000000000000000000n;

    class KashiCooker {
        constructor(pair, web3, userAddress) {
            this.web3 = web3
            this.pair = pair
            this.address = userAddress
            this.contract = this.web3.contract("kashipair", this.pair.address).methods

            this.actions = []
            this.values = []
            this.datas = []
        }

        async approve() {
            const permit = await signMasterContractApproval(this.web3, this.web3.kashipair.address, this.address, true)

            this.actions.push(ACTION_BENTO_SETAPPROVAL)
            this.values.push(0)
            this.datas.push(this.web3.eth.abi.encodeParameters(["address", "address", "bool", "uint8", "bytes32", "bytes32"], [this.address, this.web3.kashipair.address, true, permit.v, permit.r, permit.s]))
            return this
        }

        async addCollateral(amountInput) {
            const amount = Decimal(amountInput).toInt(this.pair.collateral.decimals)
            const share = await this.web3.bentobox.toShare(this.pair.collateral.address, amount, true).call()

            this.actions.push(ACTION_ADD_COLLATERAL)
            this.values.push(0)
            this.datas.push(this.web3.eth.abi.encodeParameters(["int256", "address", "bool"], [share, this.address, false]))
            return this
        }

        async depositCollateral(amountInput) {
            // TODO: WETH
            const amount = Decimal(amountInput).toInt(this.pair.collateral.decimals)

            this.actions.push(ACTION_BENTO_DEPOSIT, ACTION_ADD_COLLATERAL)
            this.values.push(0, 0)
            this.datas.push(
                this.web3.eth.abi.encodeParameters(["address", "address", "int256", "int256"], [this.pair.collateral.address, this.address, amount, 0]),
                this.web3.eth.abi.encodeParameters(["int256", "address", "bool"], [-2, this.address, false])
            )
            return this
        }

        async addAsset(amountInput) {
            const amount = Decimal(amountInput).toInt(this.pair.asset.decimals)
            this.actions.push(ACTION_BENTO_DEPOSIT, ACTION_ADD_ASSET)
            this.values.push(0, 0)
            this.datas.push(
                this.web3.eth.abi.encodeParameters(["address", "address", "int256", "int256"], [this.pair.asset.address, this.address, amount, 0]),
                this.web3.eth.abi.encodeParameters(["int256", "address", "bool"], [-2, this.address, false])
            )
            return this
        }

        async borrow(amountInput) {
            const amount = Decimal(amountInput).toInt(this.pair.asset.decimals)
            this.actions.push(ACTION_BORROW)
            this.values.push(0)
            this.datas.push(this.web3.eth.abi.encodeParameters(["uint256", "address"], [amount, this.address]))
            return this
        }

        async cook() {
            return this.contract.cook(
                this.actions,
                this.values,
                this.datas
            ).send({ from: this.address })
        }
    }

    function takeFee(amount) {
        return amount * 9n / 10n
    }
    
    function addBorrowFee(amount) {
        return amount * 10005n / 10000n
    }

    function toElastic(base, rebaseObj) {
        return rebase(base, rebaseObj.base, rebaseObj.elastic)
    }

    function toBase(base, rebaseObj) {
        return rebase(base, rebaseObj.elastic, rebaseObj.base)
    }

    app.page = {
        props: ["web3", "manager", "address", "block", "assets", "time"],
        data: function () {
            return {
                newCollateral: "",
                newAsset: "",
                rate: 1,
                pairsRaw: [],
                pairs: [],
            };
        },
        mounted: async function() {
        },
        computed: {
            pairsChecked: function() {
                return this.pairs.filter(pair => pair.checked && pair.collateral && pair.asset && pair.collateral.loaded && pair.asset.loaded).map(pair => {
                    if (!pair.collateralFrom) { pair.collateralFrom = pair.collateral.bentoBalance ? "bento" : "wallet" }
                    if (!pair.supplyFrom) { pair.supplyFrom = pair.asset.bentoBalance ? "bento" : "wallet" }
                    objAssign(pair, {
                        interestPerYear: pair.accrueInfo.interestPerSecond * 60n * 60n * 24n * 365n,

                        totalCollateralAmount:  pair.collateral.toAmount(pair.totalCollateralShare),
                        totalAssetAmount: pair.asset.toAmount(pair.totalAsset.elastic),
                        totalBorrowableAmount: pair.totalAsset.elastic > 1000n ? pair.asset.toAmount(pair.totalAsset.elastic - 1000n) : 0n,
                        currentBorrowAmount: pair.totalBorrow.elastic + pair.accrue(pair.totalBorrow.elastic),

                        userBentoCollateralAmount: pair.collateral.toAmount(pair.collateral.bentoBalance),
                        userBentoAssetAmount: pair.asset.toAmount(pair.asset.bentoBalance),

                        userCollateralAmount: pair.collateral.toAmount(pair.userCollateralShare),
                        userAssetShare: toElastic(pair.userAssetFraction, pair.totalAsset),
                        userBorrowAmount: toElastic(pair.userBorrowPart, pair.totalBorrow),

                        feeAssetShare: toElastic(pair.accrueInfo.feesEarnedFraction, pair.totalAsset),
                    })

                    objAssign(pair, {
                        userCollateralUSD: pair.collateral.rate > 0n ? pair.userCollateralAmount * (app.ethRate || 0n) / pair.collateral.rate : 0n,
                        userBorrowUSD: pair.asset.rate > 0n ? pair.userBorrowAmount * (app.ethRate || 0n) / pair.asset.rate : 0n,

                        utilization: pair.currentBorrowAmount ? pair.currentBorrowAmount * 1000000000000000000n / (pair.totalAssetAmount + pair.currentBorrowAmount) : 0n,
                        userAssetAmount: pair.asset.toAmount(pair.userAssetShare),
                        userAssetAmountFromBorrows: rebase(pair.userAssetFraction, pair.totalAsset.base, pair.currentBorrowAmount),
                        currentUserBorrowAmount: pair.userBorrowAmount + takeFee(pair.accrue(pair.userBorrowAmount)),

                        userSolvencyRatioOracle: pair.userCollateralAmount ? pair.userBorrowAmount * pair.oracleExchangeRate / pair.userCollateralAmount : 0n,
                        userSolvencyRatioStored: pair.userCollateralAmount ? pair.userBorrowAmount * pair.currentExchangeRate / pair.userCollateralAmount : 0n,

                        maxBorrowableOracle: pair.oracleExchangeRate ? (pair.userCollateralAmount * 75n / 100n) * 1000000000000000000n / pair.oracleExchangeRate : 0n,
                        maxBorrowableStored: pair.currentExchangeRate ? (pair.userCollateralAmount * 75n / 100n) * 1000000000000000000n / pair.currentExchangeRate : 0n,

                        feeAssetAmount: pair.asset.toAmount(pair.feeAssetShare),
                        feeAssetAmountFromBorrows: rebase(pair.accrueInfo.feesEarnedFraction, pair.totalAsset.base, pair.currentBorrowAmount),
                        feeAssetAmountAccrued: pair.accrue(pair.totalBorrow.elastic) * 1n / 10n,

                        newUserCollateralAmount: pair.userCollateralAmount + (pair.addCollateralAmount ? Decimal(pair.addCollateralAmount).toInt(pair.collateral.decimals) : 0n),
                        newUserBorrowAmount: pair.userBorrowAmount + (pair.borrowAmount ? addBorrowFee(Decimal(pair.borrowAmount).toInt(pair.asset.decimals)) : 0n),
                    })

                    objAssign(pair, {
                        userAssetAmountTotal: pair.userAssetAmount + pair.userAssetAmountFromBorrows,

                        currentInterestPerYear: pair.interestAccrue(pair.interestPerYear),
                        supplyAPR: takeFee(pair.interestPerYear * pair.utilization) / 1000000000000000000n,
                        maxBorrowable: BigInt.min(pair.maxBorrowableOracle, pair.maxBorrowableStored),

                        newCurrentUserBorrowAmount: pair.newUserBorrowAmount + takeFee(pair.accrue(pair.newUserBorrowAmount)),
                        newMaxBorrowableOracle: pair.oracleExchangeRate ? (pair.newUserCollateralAmount * 75n / 100n) * 1000000000000000000n / pair.oracleExchangeRate : 0n,
                        newMaxBorrowableStored: pair.currentExchangeRate ? (pair.newUserCollateralAmount * 75n / 100n) * 1000000000000000000n / pair.currentExchangeRate : 0n,
                    })

                    objAssign(pair, {
                        userAssetUSDTotal: pair.asset.rate > 0n ? pair.userAssetAmountTotal * (app.ethRate || 0n) / pair.asset.rate : 0n,

                        currentSupplyAPR: takeFee(pair.currentInterestPerYear * pair.utilization) / 1000000000000000000n,
                        newMaxBorrowable: BigInt.min(pair.newMaxBorrowableOracle, pair.newMaxBorrowableStored),
                    })

                    objAssign(pair, {
                        safeMaxBorrowable: pair.newMaxBorrowable * 95n * 10000n / 100n / 10005n,
                        healthPercentage: pair.maxBorrowable ? pair.currentUserBorrowAmount * 1000000000000000000n / pair.maxBorrowable : 0n,
                        health: pair.currentUserBorrowAmount ? pair.maxBorrowable * 1000000000000000000n / pair.currentUserBorrowAmount : 0n,
                        newHealthPercentage: pair.newMaxBorrowable ? pair.newCurrentUserBorrowAmount * 1000000000000000000n / pair.newMaxBorrowable : 0n,
                        newHealth: pair.newCurrentUserBorrowAmount ? pair.newMaxBorrowable * 1000000000000000000n / pair.newCurrentUserBorrowAmount : 0n
                    })

                    objAssign(pair, {
                        safeMaxBorrowableLeft: pair.safeMaxBorrowable - pair.currentUserBorrowAmount,
                        safeMaxBorrowableLeftPossible: BigInt.min(pair.safeMaxBorrowable - pair.currentUserBorrowAmount, pair.totalBorrowableAmount)
                    })

                    return pair
                })
            }
        },
        methods: {
            pair_handler: async function(log, web3, row, decoded) {
                let deployParams = web3.decode.kashipair.decodeMethod(
                    "0x247fd03c" + (decoded.data ? decoded.data.substr(2) : "")
                ).params;
                let oracleName = ""
                if (deployParams[2].value.toLowerCase() == this.web3.peggedoracle.address.toLowerCase()) {
                    oracleName = "Pegged"
                    oracleDescription = "The exchangeRate is fixed and will never change."
                } else {
                    console.log("Uknown oracle:", deployParams[2].value)
                }
                if (!oracleName) { 
                    console.log("Pair rejected:", row, decoded)
                    return 
                }

                return {
                    address: decoded.cloneAddress,
                    collateralAddress: deployParams[0].value,
                    assetAddress: deployParams[1].value,
                    oracle: deployParams[2].value,
                    oracleData: deployParams[3].value,
                    oracleName: oracleName,
                    oracleDescription: oracleDescription,
                }
            },
            pairs_synced: async function() {
                this.pairs.forEach(pair => {
                    objAssign(pair, {
                        collateral: app.assetManager.addAsset({ address: pair.collateralAddress }),
                        asset: app.assetManager.addAsset({ address: pair.assetAddress }),
                        accrue: function(amount) {
                            return ((amount * this.accrueInfo.interestPerSecond * (app.time / 1000n - this.accrueInfo.lastAccrued)) / 1000000000000000000n)
                        },
                        interestAccrue: function(interest) {
                            if (!this.totalBorrow.base) {
                                return STARTING_INTEREST_PER_YEAR;
                            }

                            let currentInterest = interest
                            const elapsedTime = (app.time / 1000n - this.accrueInfo.lastAccrued)
                            if (elapsedTime <= 0) { return currentInterest }
                            if (this.utilization < MINIMUM_TARGET_UTILIZATION) {
                                const underFactor = (MINIMUM_TARGET_UTILIZATION - this.utilization) * FACTOR_PRECISION / MINIMUM_TARGET_UTILIZATION;
                                const scale = INTEREST_ELASTICITY + underFactor * underFactor * elapsedTime;
                                currentInterest = currentInterest * INTEREST_ELASTICITY / scale;

                                if (currentInterest < MINIMUM_INTEREST_PER_YEAR) {
                                    currentInterest = MINIMUM_INTEREST_PER_YEAR; // 0.25% APR minimum
                                }
                            } else if (this.utilization > MAXIMUM_TARGET_UTILIZATION) {
                                const overFactor = (this.utilization - MAXIMUM_TARGET_UTILIZATION) * FACTOR_PRECISION / FULL_UTILIZATION_MINUS_MAX;
                                const scale = INTEREST_ELASTICITY + overFactor * overFactor * elapsedTime;
                                currentInterest = currentInterest * scale / INTEREST_ELASTICITY;
                                if (currentInterest > MAXIMUM_INTEREST_PER_YEAR) {
                                    currentInterest = MAXIMUM_INTEREST_PER_YEAR; // 1000% APR maximum
                                }
                            }
                            return currentInterest
                        },
                        addCollateralAmount: "",
                        addAssetAmount: "",
                        borrowAmount: "",
                        collateralFrom: "",
                        supplyFrom: ""
                    })
                })
                await this.poll()
            },
            poll: async function() {
                if (this.pairs.length) {
                    const kashiInfo = rpcToObj(await this.web3.boringhelper.pollKashiPairs(this.address, this.pairs.map(pair => pair.address)).call());
                    kashiInfo.forEach((pair, i) => objAssign(this.pairs[i], pair))
                    this.pairs.forEach(pair => {
                        objAssign(pair, {
                            checked: true
                        })
                    })
                }
            },
            create: async function () {
                console.log("CREATE")
                const exchangeRate = Decimal(this.rate).toInt(this.newCollateral.decimals + 18n - this.newAsset.decimals)
                console.log(exchangeRate.toString())
                const oracleData = await this.web3.peggedoracle.getDataParameter(exchangeRate).call()
                const kashiData = await this.web3.kashipair.getInitData(this.newCollateral.address, this.newAsset.address, this.web3.peggedoracle.address, oracleData).call()
                await this.web3.bentobox.deploy(this.web3.kashipair.address, kashiData, true).send({ from: this.address })
            },
            drip: async function () {
                await this.web3.faucet.drip().send({ from: this.address })
            },
            updateExchangeRate: async function(pair) {
                await this.web3.contract("kashipair", pair.address).methods.updateExchangeRate().send({ from: this.address })
            },
            addAsset: async function (pair) {
                const amount = Decimal(pair.addAssetAmount).toInt(pair.asset.decimals)
                console.log(pair.supplyFrom, pair.collateral.bentoAllowance)
                if (pair.supplyFrom == "wallet" && pair.asset.bentoAllowance < amount) {
                    await this.approveTokenAll(pair.asset)
                }

                if (app.kashiApproved && pair.supplyFrom == 'bento') {
                    const share = await this.web3.bentobox.toShare(pair.asset.address, amount, true).call()
                    await this.web3.contract("kashipair", pair.address).methods.addAsset(this.address, false, share).send({ from: this.address })
                } else {
                    console.log("COOK")
                    const cooker = new KashiCooker(pair, this.web3, this.address)
                    if (!app.kashiApproved) {
                        await cooker.approve()
                    }
                    if (pair.addAssetAmount) {
                        await cooker.addAsset(pair.addAssetAmount)
                    }
                    await cooker.cook()
                }
            },
            approve: async function () {
                await this.web3.bentobox.setMasterContractApproval(this.address, this.web3.kashipair.address, true, 0, "0x", "0x").send({ from: this.address })
            },
            approveToken: async function (token, amount) {
                await this.web3
                    .contract("erc20", token.address)
                    .methods.approve(this.web3.bentobox.address, amount)
                    .send({ from: this.address });
            },
            approveTokenAll: async function (token) {
                await this.approveToken(token, "115792089237316195423570985008687907853269984665640564039457584007913129639935")
            },
            borrowAction: async function (pair) {
                const amount = Decimal(pair.addCollateralAmount).toInt(pair.collateral.decimals)
                if (pair.collateralFrom == "wallet" && pair.collateral.bentoAllowance < amount) {
                    await this.approveTokenAll(pair.collateral)
                }

                if (app.kashiApproved) {
                    if (pair.addCollateralAmount && pair.collateralFrom == "bento" && !pair.borrowAmount) {
                        const share = await this.web3.bentobox.toShare(pair.collateral.address, amount, true).call()
                        await this.web3.contract("kashipair", pair.address).methods.addCollateral(this.address, false, share).send({ from: this.address })
                        return
                    } else if (pair.borrowAmount && !pair.addCollateralAmount) {
                        const amount = Decimal(pair.borrowAmount).toInt(pair.asset.decimals)
                        await this.web3.contract("kashipair", pair.address).methods.borrow(this.address, amount).send({ from: this.address })
                        return
                    }
                }
                const cooker = new KashiCooker(pair, this.web3, this.address)
                if (!app.kashiApproved) {
                    await cooker.approve()
                }
                if (pair.addCollateralAmount) {
                    if (pair.collateralFrom == 'bento') {
                        await cooker.addCollateral(pair.addCollateralAmount)
                    } else {
                        await cooker.depositCollateral(pair.addCollateralAmount)
                    }
                }
                if (pair.borrowAmount) {
                    await cooker.borrow(pair.borrowAmount)
                }
                await cooker.cook()
            }
        },
    };
    page_done();
</script>
