<template id="page_template">
    <div class="row my-3">
        <div v-if="pair && pair.checked" class="col mx-auto" style="max-width: 720px">
            <h3>Borrow {{ pair.asset.symbol }} with {{ pair.collateral.symbol }} <small>{{ pair.oracleName }} Oracle</small></h3>
            <div>
                <alert type="error" v-if="!pair.oracleValid">
                    Do not use this pair, the Oracle isn't configured correctly. This will most likely lead to loss of funds.<br><br>
                    Reason: {{ pair.oracleError }}
                </alert>
                <small>
                    {{ pair.oracleDescription }}
                </small>
            </div>

            <alert v-if="!app.kashiApproved" type="info">To use Kashi with the Bentobox, it needs to be approved. You haven't approved Kashi yet. This will automatically be included when you do your first transaction that requires approval. Once approved, this message will disappear.</alert>

            <alert v-if="!pair.currentExchangeRate" class="mt-3">
                The exchange rate has not been initialized yet on this pair. Depending on the oracle you may have to update more than once with some time inbetween.<br>
                <button type="button" class="btn btn-sm btn-primary mt-3" @click="updateExchangeRate(pair)">Update Exchange Rate</button>
            </alert>
            <div v-else="">
                <alert type="error" v-if="after.health && after.health < 1150000000000000000n">You have borrowed a high amount against your collateral. A small change in price may cause you to get liquidated. It is recommended that you add more collateral or repay some of what you have borrowed.</alert>

                <div class="mt-3" style="max-width: 400px;">
                    <div class="mb-1">
                        <div class="float-right pt-1"><small>{{ pair.userCollateral.usd.str }}</small></div>
                        Collateral: <strong>{{ pair.userCollateral.amount.str }}</strong>
                        <small v-if="addCollateralAmount" class="text-info">
                            {{ after.userCollateral.amount.str }}
                        </small>
                    </div>
                    <numberinput v-model="addCollateralAmount" :max="pair.collateralFrom == 'bento' ? pair.collateral.bentoBalance.amount.number : pair.collateral.balance.number" key="collateral"></numberinput>
                    <small class="form-text text-muted">
                        <div class="float-right">Max: {{ pair.collateralFrom == 'bento' ? pair.collateral.bentoBalance.amount.str : pair.collateral.balance.str }}</div>
                        Add from
                        <input type="radio" id="collateralFromBento" value="bento" v-model="pair.collateralFrom" autocomplete="off" checked style="height: 10px">
                        <label for="collateralFromBento">BentoBox</label>
                        <input type="radio" id="collateralFromChain" value="wallet" v-model="pair.collateralFrom" autocomplete="off" style="height: 10px">
                        <label for="collateralFromChain">Wallet</label>
                    </small>
                </div>
                <div class="mt-3" style="max-width: 400px;">
                    <div class="mb-1">
                        <div class="float-right pt-1"><small>{{ pair.userBorrow.current.usd.str }}</small></div>
                        Borrowed: <strong>{{ pair.userBorrow.current.str }}</strong>
                        <small v-if="borrowAmount" class="text-info">
                            {{ after.userBorrow.current.str }}
                        </small>
                    </div>
                    <numberinput v-model="borrowAmount" :max="pair.safeMaxBorrowableLeftPossible.toDec(pair.asset.decimals)" key="borrow"></numberinput>
                    <small class="form-text text-muted">
                        Max: {{ after.safeMaxBorrowableLeftPossible.print(pair.asset.decimals, 2) }} {{ pair.asset.symbol }}
                        {{ after.safeMaxBorrowableLeftPossible < after.safeMaxBorrowableLeft ? '(limited by liquidity)' : '' }}
                        -
                        instant 0.05% borrow fee and variable interest, currently {{ pair.interest.print(16, 2) }}%.
                    </small>
                </div>
                <button 
                    v-if="addCollateralAmount || borrowAmount" 
                    class="btn btn-sm btn-primary mt-3"
                    type="button" @click='borrowAction(pair)'>
                    <span v-if="addCollateralAmount && borrowAmount">Add collateral and Borrow</span>
                    <span v-else-if="addCollateralAmount">Add collateral</span>
                    <span v-else-if="borrowAmount">Borrow</span>
                </button>
            </div>

            <h3 class="mt-3">Pair Information</h3>

            <table class="table table-sm w-100">
                <thead>
                    <th class="text-center">Supply</th>
                    <th class="text-center">Borrowed</th>
                    <th class="text-center">Collateral</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{ pair.fullAsset.amount.str }}<br><small>{{ pair.totalCollateral.amount.usd.str }}</small></td>
                        <td class="text-center">{{ pair.totalBorrow.current.str }}<br><small>{{ pair.totalBorrow.current.usd.str }}</small></td>
                        <td class="text-center">{{ pair.totalCollateral.amount.str }}<br><small>{{ pair.totalCollateral.amount.usd.str }}</small></td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-6">
                    <label>Utilization</label>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" :style="'width: ' + pair.utilization.print(16, 0) + '%'">{{ after.utilization.print(16, 0) }}%</div>
                    </div>
                </div>
                <div class="col-6">
                    <label>Pair health</label>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" :style="'width: ' + pair.utilization.print(16, 0) + '%'">{{ pair.utilization.print(16, 0) }}%</div>
                    </div>
                </div>
            </div>

            <div>
                User assets total: {{ pair.userAsset.full.str }}<br>
                User collateral: {{ pair.userCollateral.amount.str }}<br>
                User borrowed: {{ pair.userBorrow.current.str }}<br>
                Health: {{ pair.health.print(18, 2) }} ({{ pair.healthPercentage.print(16, 2) }}%)<br>

                <div v-if="pair.asset.bentoBalance.set || pair.asset.balance.set" class="mt-3" style="max-width: 400px;">
                    <div class="float-right pt-1"><small>{{ pair.userAsset.full.usd.str }}</small></div>
                    Supply: {{ pair.userAsset.full.str }}
                    <numberinput v-model="pair.addAssetAmount" :max="pair.supplyFrom == 'bento' ? pair.asset.bentoBalance.amount.number : pair.asset.balance.number"></numberinput>
                    <small class="form-text text-muted">
                        <div class="float-right">Max: {{ pair.supplyFrom == 'bento' ? pair.asset.bentoBalance.amount.str : pair.asset.balance.str }}</div>
                        Supply from
                        <input type="radio" id="supplyFromBento" value="bento" v-model="pair.supplyFrom" autocomplete="off" checked style="height: 10px">
                        <label for="supplyFromBento">BentoBox</label>
                        <input type="radio" id="supplyFromChain" value="wallet" v-model="pair.supplyFrom" autocomplete="off" style="height: 10px">
                        <label for="supplyFromChain">Wallet</label>
                        <br>
                        You will earn a variable interest, currently {{ pair.currentSupplyAPR.print(16, 2) }}% per year.
                    </small>
                    <button 
                        v-if="Number(pair.addAssetAmount)" 
                        class="btn btn-sm btn-primary mt-3"
                        type="button" @click='addAsset(pair)'>
                        Add Supply
                    </button>                                                        
                </div>                                        
                
                <div v-if="!app.debug">
                    <h5 class="card-title mt-3">Testing Info</h5>
                    Collateral Bento: {{ pair.collateral.bentoAmount }} : {{ pair.collateral.bentoShare }}<br>
                    Asset Bento: {{ pair.asset.bentoAmount }} : {{ pair.asset.bentoShare }}<br>

                    TotalCollateral share: {{ pair.totalCollateral.share.str }}<br>
                    TotalAsset ratio (share : fraction): {{ pair.totalAsset.elastic }} : {{ pair.totalAsset.base }}<br>
                    TotalBorrow ratio (share : part): {{ pair.totalBorrow.elastic }} : {{ pair.totalBorrow.base }}<br>
                    FullAsset ratio (amount : fraction): {{ pair.fullAsset.elastic }} : {{ pair.fullAsset.base }}<br>
                    <br>
                    Total collateral: {{ pair.totalCollateral.amount.str }}<br>
                    Total assets: {{ pair.fullAsset.amount.str }}<br>
                    Total borrowed: {{ pair.totalBorrow.current.str }}<br>
                    Total assets: {{ pair.totalAsset.amount.value }} + {{ pair.totalBorrow.current.value }} {{ pair.asset.symbol }}<br>
                    <br>
                    User assets fraction: {{ pair.userAsset.str }}<br>
                    User assets share: {{ pair.userAsset.share.str }}<br>
                    <br>
                    User assets: {{ pair.userAsset.full.str }}<br>
                    <br>
                    Max borrowable (oracle): {{ (after.maxBorrowableOracle - after.userBorrow.current.value).print(after.asset.decimals, 2) }} {{ after.asset.symbol }}<br>
                    Max borrowable (stored): {{ (after.maxBorrowableStored - after.userBorrow.current.value).print(after.asset.decimals, 2) }} {{ after.asset.symbol }}<br>
                    Max borrowable (min): {{ (after.maxBorrowable - after.userBorrow.current.value).print(after.asset.decimals, 2) }} {{ after.asset.symbol }}<br>
                    Safe Max borrowable: {{ after.safeMaxBorrowableLeft.print(after.asset.decimals, 2) }} {{ after.asset.symbol }}<br>
                    Safe Max borrowable and available: {{ after.safeMaxBorrowableLeftPossible.print(after.asset.decimals, 2) }} {{ after.asset.symbol }}<br>
                    <br>
                    Fee fractions: {{ pair.fee.str }}<br>
                    Fee shares: {{ pair.fee.share.str }}<br>
                    Fee assets: {{ pair.fee.full.str }}<br>
                    <br>
                    After user collateral: {{ after.userCollateral.amount.str }}
                    After total collateral: {{ after.totalCollateral.amount.str }}
                </div>
            </div>
        </div>
        <web3 :manager="manager" :poll="poll"></web3>
    </div>
</template>
<script>
    app.page = {
        props: ["web3", "manager", "address", "block", "assets", "time"],
        data: function () {
            return {
                pair: {},
                addCollateralAmount: "",
                borrowAmount: "",
                newCollateral: "",
                newAsset: "",
                rate: 1,
            };
        },
        computed: {
            after: function() {
                let after = this.pair.copy()

                after.totalBorrow.elastic += this.pair.accrue(this.pair.totalBorrow.elastic)
                after.accrueInfo.lastAccrued = app.timestamp
                after.accrueInfo.interestPerSecond = this.pair.interestAccrue(this.pair.accrueInfo.interestPerSecond)

                const add_collateral_share = new Amount(Decimal(this.addCollateralAmount || "0").toInt(after.collateral.decimals), after.collateral).share.value
                after.userCollateral.value += add_collateral_share
                after.totalCollateral.value += add_collateral_share

                const add_borrow_part = new BorrowAmount(Decimal(this.borrowAmount || "0").toInt(after.asset.decimals), after).part.value
                after.userBorrow.value += add_borrow_part
                return after
            }
        },
        methods: {
            poll: async function() {
                const pair = rpcToObj(await this.web3.boringhelper.pollKashiPairs(this.address, [this.$route.params.address]).call())[0];
                this.pair = new Pair({
                    address: this.$route.params.address,
                    collateralAddress: pair.collateral,
                    assetAddress: pair.asset,
                    oracle: pair.oracle,
                    oracleData: pair.oracleData,
                }, this.web3)
                this.pair.update(pair)
            },
            updateExchangeRate: async function(pair) {
                await this.web3.contract("kashipair", pair.address).methods.updateExchangeRate().send({ from: this.address })
            },
            addAsset: async function (pair) {
                const amount = Decimal(pair.addAssetAmount).toInt(pair.asset.decimals)
                if (pair.supplyFrom == "wallet" && pair.asset.bentoAllowance < amount) {
                    await this.approveTokenAll(pair.asset)
                }

                if (app.kashiApproved && pair.supplyFrom == 'bento') {
                    const share = await this.web3.bentobox.toShare(pair.asset.address, amount, true).call()
                    await this.web3.contract("kashipair", pair.address).methods.addAsset(this.address, false, share).send({ from: this.address })
                } else {
                    const cooker = new KashiCooker(pair, this.web3, this.address)
                    if (!app.kashiApproved) {
                        await cooker.approve()
                    }
                    if (pair.addAssetAmount) {
                        await cooker.addAsset(pair.addAssetAmount)
                    }
                    await cooker.cook()
                }
            },
            approve: async function () {
                await this.web3.bentobox.setMasterContractApproval(this.address, this.web3.kashipair.address, true, 0, "0x", "0x").send({ from: this.address })
            },
            approveToken: async function (token, amount) {
                await this.web3
                    .contract("erc20", token.address)
                    .methods.approve(this.web3.bentobox.address, amount)
                    .send({ from: this.address });
            },
            approveTokenAll: async function (token) {
                await this.approveToken(token, "115792089237316195423570985008687907853269984665640564039457584007913129639935")
            },
            borrowAction: async function (pair) {
                const amount = this.addCollateralAmount ? Decimal(this.addCollateralAmount).toInt(pair.collateral.decimals) : 0n
                if (pair.collateralFrom == "wallet" && pair.collateral.bentoAllowance < amount) {
                    await this.approveTokenAll(pair.collateral)
                }

                if (app.kashiApproved) {
                    if (this.addCollateralAmount && pair.collateralFrom == "bento" && !this.borrowAmount) {
                        const share = await this.web3.bentobox.toShare(pair.collateral.address, amount, true).call()
                        await this.web3.contract("kashipair", pair.address).methods.addCollateral(this.address, false, share).send({ from: this.address })
                        return
                    } else if (this.borrowAmount && !this.addCollateralAmount) {
                        const amount = Decimal(this.borrowAmount).toInt(pair.asset.decimals)
                        await this.web3.contract("kashipair", pair.address).methods.borrow(this.address, amount).send({ from: this.address })
                        return
                    }
                }
                const cooker = new KashiCooker(pair, this.web3, this.address)
                if (!app.kashiApproved) {
                    await cooker.approve()
                }
                if (this.addCollateralAmount) {
                    if (pair.collateralFrom == 'bento') {
                        await cooker.addCollateral(this.addCollateralAmount)
                    } else {
                        await cooker.depositCollateral(this.addCollateralAmount)
                    }
                }
                if (this.borrowAmount) {
                    await cooker.borrow(this.borrowAmount)
                }
                await cooker.cook()
            }
        },
    };

    page_done();
</script>
