<template id="page_template">
    <div class="mt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liquidity Pools</h4>
                        <p>
                            Add liquidity to SushiSwap pools and receive a share of the trading fees and farm SUSHI on
                            reward pools.
                        </p>
                        <p>
                            Under development. Until then, please use <a href='https://sushiswap.org'
                                target='_blank'>SushiSwap UI</a>
                        </p>
                        <div v-if="base.loaded">
                            <p>
                                SUSHI Balance: {{ base.sushiBalance.print(18, 4) }} - $
                                {{ base.sushiBalanceInCurrency.print(6, 2) }}<br />
                                SUSHI Pending: {{ base.pending.print(18, 4) }} - $
                                {{ base.pendingInCurrency.print(6, 2) }}<br />
                                <br />
                                Total value <b>staked in SushiSwap</b>: ${{ totalValue.print(12, 2) }}M<br />
                                SUSHI Price: ${{ base.sushiValueInCurrency.print(6, 2) }}
                            </p>

                            <table class="table">
                                <thead>
                                    <th>Pool</th>
                                    <th class="d-none d-md-table-cell"></th>
                                    <th class="text-right">Value</th>
                                    <th class="text-right">ROI</th>
                                    <th class="text-right">Your stake</th>
                                </thead>
                                <tr v-for="pool in pools">
                                    <td>
                                        <h2>{{ pool.logo }}</h2>
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        {{ pool.name }}<br>
                                        {{ pool.token0symbol}}-{{ pool.token1symbol }}
                                    </td>
                                    <td class="text-right">
                                        ${{ pool.valueInCurrency.print(12, 2) }}M
                                    </td>
                                    <td class="d-none d-md-table-cell text-right">
                                        Daily: {{ pool.dailyROI.print(4, 2) }}%
                                        (${{ pool.dailyInCurrency.print(6, 2) }})<br />
                                        Monthly: {{ pool.monthlyROI.print(4, 2) }}%
                                        (${{ pool.monthlyInCurrency.print(6, 2) }})<br />
                                        Yearly: {{ pool.yearlyROI.print(4, 2) }}%
                                        (${{ pool.yearlyInCurrency.print(6, 2) }})
                                    </td>
                                    <td class="d-table-cell d-md-none text-right">
                                        {{ pool.yearlyROI.print(4, 2) }}%<br />
                                        ${{ pool.yearlyInCurrency.print(6, 2) }}
                                    </td>
                                    <td class="text-right">
                                        {{ pool.userStakedToken0.print(pool.token0decimals, 4) }}
                                        {{ pool.token0symbol }}<br />
                                        {{ pool.userStakedToken1.print(pool.token1decimals, 4) }}
                                        {{ pool.token1symbol }}<br />
                                        {{ pool.pending.print(18, 4) }} SUSHI
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    app.page = {
        props: ['api', 'address', 'block'],
        data: function () {
            return {
                base: {},
                pools: [],
                tokenlist: []
            }
        },
        mounted: async function () {
            await this.init();
        },
        watch: {
            'api': async function () {
                await this.init();
            },
            'block': async function () {
                await this.update()
            }
        },
        computed: {
            totalValue: function () {
                let total = 0n;
                for (i in this.pools) {
                    total += BigInt(this.pools[i].valueInCurrency)
                }
                return total;
            }
        },
        methods: {
            init: async function () {
                if (this.api) {
                    await this.update();
                }
            },
            update: async function () {
                // Retieve all info for the first wallet address
                await this.api.getInfo(this.address)
                this.base = this.api.base;
                this.pools = this.api.pools;
            }
        }
    }
    page_done();
</script>